/*** Color Variables ***/
/* FIN */
/* Page */
/* Borders */
/*Form Elements */
/* Text */
/* Misc */
/**
 *SCSS file for custom styling
 */
/*** Menu ***/
/* line 39, ../../sass/custom.scss */
#section-header .dexp-dropdown > ul > li {
  border-left: 1px solid #142a45;
  border-right: 1px solid #142a45;
}

/*** Sections ***/
/* line 45, ../../sass/custom.scss */
#section-top-bar {
  padding: 5px;
}
/* line 48, ../../sass/custom.scss */
#section-top-bar .region-top-right .block {
  float: none;
  text-align: right;
}
/* line 53, ../../sass/custom.scss */
#section-top-bar .region-top-right .block-search-api-page div.form-type-textfield {
  display: inline-block;
  vertical-align: top;
}
/* line 57, ../../sass/custom.scss */
#section-top-bar .region-top-right .block-search-api-page input.btn-primary {
  display: inline-block;
  vertical-align: top;
  margin: 15px 0 0 0;
}

/* line 65, ../../sass/custom.scss */
#section-header {
  background: #1368a6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1368a6 0%, #142a45 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1368a6 0%, #142a45 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1368a6 0%, #142a45 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1368a6', endColorstr='#142a45',GradientType=0 );
  /* IE6-9 */
}

/*** Blocks ***/
/* line 74, ../../sass/custom.scss */
h3.block-title {
  position: relative;
  margin: 0;
  background: #1368a6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1368a6 0%, #142a45 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1368a6 0%, #142a45 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1368a6 0%, #142a45 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1368a6', endColorstr='#142a45',GradientType=0 );
  /* IE6-9 */
}

/* line 83, ../../sass/custom.scss */
span.fieldset-legend {
  text-transform: uppercase;
}

/* line 86, ../../sass/custom.scss */
.collapsiblock a {
  color: white;
  margin: 0 0 0 5px;
}

/* line 90, ../../sass/custom.scss */
.block-views {
  margin: 30px 0 0 0;
  padding: 0;
}

/* line 94, ../../sass/custom.scss */
#block-subscriptions-ui-0 {
  background: #1368a6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1368a6 0%, #142a45 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1368a6 0%, #142a45 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1368a6 0%, #142a45 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1368a6', endColorstr='#142a45',GradientType=0 );
  /* IE6-9 */
}

/* line 101, ../../sass/custom.scss */
#block-user-online .content {
  background: #cddeff;
  padding: 10px;
}

/* line 105, ../../sass/custom.scss */
.item-list ul {
  text-align: left;
}

/* line 108, ../../sass/custom.scss */
.field-name-plan-new-leads-mandates-bf .block-views {
  margin: 5px 0 0 0;
}

/* line 110, ../../sass/custom.scss */
.field-name-plan-ongoing-mandates-bf .block-views {
  margin: 5px 0 0 0;
}

/* line 112, ../../sass/custom.scss */
.field-name-plan-completed-mandates-bf .block-views {
  margin: 5px 0 0 0;
}

/* line 114, ../../sass/custom.scss */
.field-name-plan-closed-mandates-bf .block-views {
  margin: 5px 0 0 0;
}

/* line 118, ../../sass/custom.scss */
.block-facetapi h3.block-title {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
/* line 123, ../../sass/custom.scss */
.block-facetapi .content {
  display: none;
}
/* line 125, ../../sass/custom.scss */
.block-facetapi .content.open {
  display: block;
}
/* line 128, ../../sass/custom.scss */
.block-facetapi .content .item-list {
  margin: 0 0 4px 0;
}
/* line 132, ../../sass/custom.scss */
.block-facetapi select {
  max-width: 100%;
}

/*** Labels ***/
/* line 138, ../../sass/custom.scss */
h2.title {
  margin: 30px 0 0 0;
}

/*** Content ***/
/* line 143, ../../sass/custom.scss */
body {
  font-family: "Lato Regular Web" !important;
}

/* line 146, ../../sass/custom.scss */
.content legend {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* line 150, ../../sass/custom.scss */
.field-name-field-photo .field-item {
  text-align: center;
}

/*** Display Suite ***/
/* line 155, ../../sass/custom.scss */
.ds-header {
  margin: 0 0 30px 0;
}

/* line 158, ../../sass/custom.scss */
ul.links {
  float: right;
  margin: 0;
}

/* line 162, ../../sass/custom.scss */
.ds-above-left {
  margin-bottom: 30px;
}
/* line 164, ../../sass/custom.scss */
.ds-above-left legend {
  padding: 5px 0;
  background: #1368a6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1368a6 0%, #142a45 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1368a6 0%, #142a45 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1368a6 0%, #142a45 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1368a6', endColorstr='#142a45',GradientType=0 );
  /* IE6-9 */
}
/* line 171, ../../sass/custom.scss */
.ds-above-left legend span.fieldset-legend {
  color: white;
}
/* line 175, ../../sass/custom.scss */
.ds-above-left .field-group-fieldset {
  width: 98%;
  padding: 0 0 10px 0;
  background: #cddeff;
}

/* line 181, ../../sass/custom.scss */
.ds-above-right {
  margin-bottom: 30px;
}
/* line 183, ../../sass/custom.scss */
.ds-above-right legend {
  padding: 5px 0;
  background: #1368a6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1368a6 0%, #142a45 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1368a6 0%, #142a45 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1368a6 0%, #142a45 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1368a6', endColorstr='#142a45',GradientType=0 );
  /* IE6-9 */
}
/* line 190, ../../sass/custom.scss */
.ds-above-right legend span.fieldset-legend {
  color: white;
}
/* line 194, ../../sass/custom.scss */
.ds-above-right .field-group-fieldset {
  width: 98%;
  padding: 0 0 10px 0;
  background: #cddeff;
}

/*** Views ***/
/* line 203, ../../sass/custom.scss */
.view-views-search .view-content {
  display: none;
}
/* line 206, ../../sass/custom.scss */
.view-views-search .pager {
  display: none;
}

/* line 211, ../../sass/custom.scss */
.views-submit-button button.my-views-filter-reset {
  position: relative;
  top: 11px;
  left: 10px;
}

/* line 218, ../../sass/custom.scss */
.view-comment-views th.views-field-edit-comment {
  width: 70px;
  padding: 0;
}
/* line 222, ../../sass/custom.scss */
.view-comment-views td.views-field-edit-comment {
  padding: 0;
}
/* line 224, ../../sass/custom.scss */
.view-comment-views td.views-field-edit-comment a {
  margin: 0;
}
/* line 227, ../../sass/custom.scss */
.view-comment-views td.views-field-edit-comment div.magical-modal-link {
  display: inline-block;
  margin: 0 5px 0 0;
}

/* line 233, ../../sass/custom.scss */
.view-filters {
  background-color: #1368a6;
  color: white;
}
/* line 236, ../../sass/custom.scss */
.view-filters legend {
  background: #1368a6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1368a6 0%, #142a45 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1368a6 0%, #142a45 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1368a6 0%, #142a45 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1368a6', endColorstr='#142a45',GradientType=0 );
  /* IE6-9 */
}

/* line 244, ../../sass/custom.scss */
span.fieldset-legend {
  padding: 0 0 10px 0;
  margin: 0 0 0 5px;
}
/* line 247, ../../sass/custom.scss */
span.fieldset-legend a {
  color: white;
}

/* line 251, ../../sass/custom.scss */
fieldset.collapsible .fieldset-legend {
  margin: -5px 0 0 0;
}

/* line 254, ../../sass/custom.scss */
.views-exposed-form {
  padding: 10px;
}

/*
 *Tasks table
 */
/* line 262, ../../sass/custom.scss */
#user-tasks-table table {
  width: 100%;
}
/* line 265, ../../sass/custom.scss */
#user-tasks-table table thead th {
  padding: 0 5px;
}
/* line 269, ../../sass/custom.scss */
#user-tasks-table table td {
  padding: 0 5px;
}
/* line 272, ../../sass/custom.scss */
#user-tasks-table table td:nth-child(5) {
  min-width: 90px;
}
/* line 278, ../../sass/custom.scss */
#user-tasks-table table td:nth-child(7) {
  text-align: center;
}

/*** Tables ***/
/* line 288, ../../sass/custom.scss */
table.views-table {
  width: 100%;
}

/* line 291, ../../sass/custom.scss */
th {
  border-bottom: none;
}

/* line 294, ../../sass/custom.scss */
th.views-field {
  padding: 0 5px;
}

/* line 297, ../../sass/custom.scss */
td.views-field {
  padding: 0 5px;
}

/* line 300, ../../sass/custom.scss */
td.views-field-field-cover-image img {
  max-width: none !important;
}

/* line 303, ../../sass/custom.scss */
tr.odd {
  background-color: #aac6ff;
  border: 1px solid white;
}

/* line 307, ../../sass/custom.scss */
tr.even {
  background-color: #98bafe;
  border: 1px solid white;
}

/* line 311, ../../sass/custom.scss */
tr.odd td.active, tr.even td.active {
  background-color: #87affe;
}

/* line 316, ../../sass/custom.scss */
.view-content-lists th.views-field-edit-node, .view-content-lists td.views-field-view-node, .view-reference-views th.views-field-edit-node, .view-reference-views td.views-field-view-node {
  width: 70px;
}
/* line 319, ../../sass/custom.scss */
.view-content-lists td.views-field-edit-node, .view-content-lists td.views-field-view-node, .view-reference-views td.views-field-edit-node, .view-reference-views td.views-field-view-node {
  padding: 0;
}
/* line 321, ../../sass/custom.scss */
.view-content-lists td.views-field-edit-node a, .view-content-lists td.views-field-view-node a, .view-reference-views td.views-field-edit-node a, .view-reference-views td.views-field-view-node a {
  margin: 0 5px;
}
/* line 326, ../../sass/custom.scss */
.view-content-lists td.views-field-field-tasks .tasks, .view-reference-views td.views-field-field-tasks .tasks {
  display: block;
  position: absolute;
  left: 10%;
  width: 80%;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 5px;
  top: 60px;
  background-color: #FFF;
  z-index: 10;
}
/* line 337, ../../sass/custom.scss */
.view-content-lists td.views-field-field-tasks .tasks.closed, .view-reference-views td.views-field-field-tasks .tasks.closed {
  display: none;
}
/* line 340, ../../sass/custom.scss */
.view-content-lists td.views-field-field-tasks .tasks .close, .view-reference-views td.views-field-field-tasks .tasks .close {
  position: absolute;
  top: 0;
  right: 0;
}

/*** Accordion **/
/* line 350, ../../sass/custom.scss */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #cddeff;
  border: none;
}

/* line 355, ../../sass/custom.scss */
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  left: 0.1em;
}
/* line 358, ../../sass/custom.scss */
.ui-accordion .ui-accordion-icons {
  padding-left: 1.8em;
}
/* line 361, ../../sass/custom.scss */
.ui-accordion .ui-accordion-icons {
  padding-left: 1.4em;
}
/* line 364, ../../sass/custom.scss */
.ui-accordion .ui-accordion-content {
  padding: 0.5em 1em;
}

/* line 368, ../../sass/custom.scss */
.ui-corner-all {
  border-radius: 0;
}

/* line 371, ../../sass/custom.scss */
.ui-widget-content {
  border: none;
}

/*** Widgets ***/
/* line 379, ../../sass/custom.scss */
.view-views-search .view-content {
  display: none;
}
/* line 382, ../../sass/custom.scss */
.view-views-search .pager {
  display: none;
}

/*** Nodes ***/
/* line 390, ../../sass/custom.scss */
body.node-type-plan #block-system-main .ds-below-right.seventy {
  width: 60%;
}
/* line 392, ../../sass/custom.scss */
body.node-type-plan #block-system-main .ds-below-right.seventy .view-display-id-eva_asset_allocation_chart {
  margin: 30px 0 0 0;
  height: 300px;
  width: 100%;
}
/* line 396, ../../sass/custom.scss */
body.node-type-plan #block-system-main .ds-below-right.seventy .view-display-id-eva_asset_allocation_chart .view-content {
  height: 100%;
}
/* line 398, ../../sass/custom.scss */
body.node-type-plan #block-system-main .ds-below-right.seventy .view-display-id-eva_asset_allocation_chart .view-content .pie-chart {
  height: 100%;
}
/* line 400, ../../sass/custom.scss */
body.node-type-plan #block-system-main .ds-below-right.seventy .view-display-id-eva_asset_allocation_chart .view-content .pie-chart #aa-chart {
  height: 100%;
}
/* line 407, ../../sass/custom.scss */
body.node-type-plan #block-system-main .ds-below-left.thirty {
  width: 40%;
}

/*** Modal styles
 *Duplicated from Admin theme (Fubik)
 */
/* line 419, ../../sass/custom.scss */
#modalContent #contact-node-form .ds-above-left, #modalContent #contact-node-form .ds-above-right {
  width: 33.3%;
}
/* line 422, ../../sass/custom.scss */
#modalContent #contact-node-form .text-summary-wrapper {
  display: none;
}
/* line 427, ../../sass/custom.scss */
#modalContent #contact-node-form .field-name-body .form-type-textarea label {
  float: none;
}
/* line 430, ../../sass/custom.scss */
#modalContent #contact-node-form .field-name-body .form-type-textarea .form-textarea-wrapper {
  margin-left: 0;
  margin-right: 0;
}
/* line 434, ../../sass/custom.scss */
#modalContent #contact-node-form .field-name-body .form-type-textarea .form-textarea-wrapper #cke_2_top #cke_72, #modalContent #contact-node-form .field-name-body .form-type-textarea .form-textarea-wrapper #cke_2_top #cke_75, #modalContent #contact-node-form .field-name-body .form-type-textarea .form-textarea-wrapper #cke_2_top #cke_85, #modalContent #contact-node-form .field-name-body .form-type-textarea .form-textarea-wrapper #cke_2_top #cke_93, #modalContent #contact-node-form .field-name-body .form-type-textarea .form-textarea-wrapper #cke_2_top #cke_98 {
  display: none;
}
/* line 442, ../../sass/custom.scss */
#modalContent #contact-node-form tr .form-item {
  white-space: normal;
}
/* line 448, ../../sass/custom.scss */
#modalContent #contact-node-form .field-name-field-employment-date .date-combo .date-float {
  clear: both;
  float: none;
}
/* line 452, ../../sass/custom.scss */
#modalContent #contact-node-form .field-name-field-employment-date .date-combo .start-date-wrapper, #modalContent #contact-node-form .field-name-field-employment-date .date-combo .end-date-wrapper {
  width: 150px;
  float: left;
  clear: none;
}
/* line 456, ../../sass/custom.scss */
#modalContent #contact-node-form .field-name-field-employment-date .date-combo .start-date-wrapper input, #modalContent #contact-node-form .field-name-field-employment-date .date-combo .end-date-wrapper input {
  width: 100px;
}
/* line 460, ../../sass/custom.scss */
#modalContent #contact-node-form .field-name-field-employment-date .date-combo .end-date-wrapper {
  width: 200px;
}
/* line 462, ../../sass/custom.scss */
#modalContent #contact-node-form .field-name-field-employment-date .date-combo .end-date-wrapper label {
  width: 40px;
  clear: none;
}
/* line 472, ../../sass/custom.scss */
#modalContent #contact-node-form .field-name-field-address .addressfield-container-inline .form-item {
  float: none;
}
/* line 478, ../../sass/custom.scss */
#modalContent #contact-node-form .form-type-link-field label {
  float: none;
}
/* line 483, ../../sass/custom.scss */
#modalContent #contact-node-form .field-name-field-consultant-job-type label {
  float: none;
}
/* line 490, ../../sass/custom.scss */
#modalContent form#mandate-node-form .ds-above-left, #modalContent form#mandate-node-form .ds-above-right, #modalContent form#mandate-node-form .ds-below-left, #modalContent form#mandate-node-form .ds-below-right {
  width: 33.3%;
}
/* line 493, ../../sass/custom.scss */
#modalContent form#mandate-node-form .ds-above-left, #modalContent form#mandate-node-form .ds-below-left, #modalContent form#mandate-node-form .ds-above-middle, #modalContent form#mandate-node-form .ds-below-middle {
  padding: 0 20px 0 0;
}
/* line 496, ../../sass/custom.scss */
#modalContent form#mandate-node-form table {
  width: 100%;
}
/* line 500, ../../sass/custom.scss */
#modalContent form#mandate-node-form div.form-wrapper label {
  float: none;
  display: block;
}
/* line 506, ../../sass/custom.scss */
#modalContent form#mandate-node-form div.field-widget-field-collection-embed .form-select {
  display: block;
}
/* line 509, ../../sass/custom.scss */
#modalContent form#mandate-node-form div.field-widget-field-collection-embed .chosen-container {
  width: 100% !important;
  display: block;
}
/* line 516, ../../sass/custom.scss */
#modalContent form#mandate-node-form div.field-name-field-managers-hired .ds-2col-stacked-fluid .group-left, #modalContent form#mandate-node-form div.field-name-field-managers-hired .ds-2col-stacked-fluid .group-right {
  float: none;
  display: block;
  width: 100%;
}
/* line 520, ../../sass/custom.scss */
#modalContent form#mandate-node-form div.field-name-field-managers-hired .ds-2col-stacked-fluid .group-left .chosen-container, #modalContent form#mandate-node-form div.field-name-field-managers-hired .ds-2col-stacked-fluid .group-right .chosen-container {
  display: block !important;
}
/* line 525, ../../sass/custom.scss */
#modalContent form#mandate-node-form div.field-name-field-managers-hired .description {
  white-space: normal;
}
/* line 529, ../../sass/custom.scss */
#modalContent form#mandate-node-form input.form-autocomplete {
  width: 100%;
  max-width: 100%;
  display: block;
}
/* line 537, ../../sass/custom.scss */
#modalContent #consultant-firm-node-form .ds-above-left {
  width: 49%;
  margin: 0 1% 0 0;
}
/* line 541, ../../sass/custom.scss */
#modalContent #consultant-firm-node-form .ds-above-right {
  width: 49%;
  margin: 0 0 0 1%;
}
/* line 547, ../../sass/custom.scss */
#modalContent #consultant-firm-node-form .field-name-field-website .form-item label {
  float: none;
}
/* line 552, ../../sass/custom.scss */
#modalContent #consultant-firm-node-form .vertical-tabs {
  margin: 0;
}
/* line 558, ../../sass/custom.scss */
#modalContent #manager-firm-node-form .ds-above-left, #modalContent #manager-firm-node-form .ds-above-middle, #modalContent #manager-firm-node-form .ds-above-right {
  width: 32%;
  margin: 0 .5%;
}
/* line 562, ../../sass/custom.scss */
#modalContent #manager-firm-node-form .form-item {
  margin: 0;
  width: 95%;
}
/* line 565, ../../sass/custom.scss */
#modalContent #manager-firm-node-form .form-item input, #modalContent #manager-firm-node-form .form-item select {
  width: 98%;
}
