/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
table.rules-overview-table a.action, .action-links.action-links-field-collection-add a, a.action-add, a.action-analyze, a.action-clone, a.action-configure, a.action-delete, a.action-devel, a.action-edit, a.action-export, a.action-revert, a.action-table, a.action-view, a.action-top, td.views-field-delete-node a, td.views-field-cancel-node a, td.views-field-delete a, td.views-field-devel-node a, td.views-field-edit-node a, td.views-field-edit-term a, td.views-field-edit a, td.views-field-view-node a, td.views-field-view-user a, td.views-field-devel-user a, td.views-field-view a, ul.links li.revert a, ul.links li.configure a, ul.links li.clone a, ul.links li.export a, ul.links li.enable a, ul.links li.disable a, ul.links li.flags_edit a, ul.links li.flags_delete a, ul.links li.flags_export a, ul.links li.edit a, ul.links li.delete a, ul.links li.devel a, ul.links li.view a, .field-collection-view-links li.edit a, .field-collection-view-links li.delete a, .author-image-edit, .coauthor-image-edit {
  padding-left: 10px; }

body.page-admin-config-workflow-rules-links ul.rules-operations-add.action-links li a, body.page-admin-config-workflow-rules-reaction-manage ul.rules-operations-add.action-links li a, .field-name-field-aa-domestic-fixed-income, .field-name-field-aa-domestic-equities, .field-name-field-aa-alternative-strategies, .field-name-field-aa-hedge-fund-strategies, .field-name-field-aa-international-equities, .field-name-field-aa-intl-fixed-income, .field-name-field-aa-mutual-fund, .field-name-field-aa-private-equity, .field-name-field-aa-real-estate, .field-name-field-aa-real-assets, .field-name-field-aa-cash-other, .field-name-field-aa-balanced, .field-name-field-aa-global-equities, .field-name-field-aa-absolute-return, .field-name-field-aa-credit-opportunities, .field-name-field-aa-global-fixed-income, .field-name-field-aa-real-return, .field-name-field-aa-multi-asset, .field-name-field-aa-emerging-markets-equity, .field-name-field-aa-risk-parity, .field-name-field-aa-canadian-equities {
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-bottom: 4px;
  padding-top: 5px; }

body.page-admin-config-workflow-rules-links ul.rules-operations.action-links li a, body.page-admin-config-workflow-rules-reaction-manage ul.rules-operations.action-links li a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline;
  text-shadow: 0 0 0 transparent;
  color: #008eb1;
  font-size: 13px; }

div.teaser-checkbox .form-item, .form-item .form-item, .filter-wrapper .form-item {
  border: 0 none;
  margin: 0;
  padding: 5px 0; }

table td, table th {
  border: 0 none;
  padding: 8px 10px;
  vertical-align: middle; }

h1.path-admin-dashboard span.icon, h1.path-admin-workbench span.icon, h1.path-admin-config-workbench span.icon, .path-admin-config-development-strongarm span.icon, .path-admin-config-user-interface-itoggle span.icon, .path-admin-config-workflow-subs span.icon, .path-admin-content-subscription span.icon, .path-admin-structure-subscriptions span.icon, .path-admin-structure-messages span.icon, .path-admin-config-content-fivestar span.icon, .path-admin-structure-mark span.icon, .path-admin-structure-flags span.icon, .path-admin-structure-file-types span.icon, .path-admin-structure-block-types span.icon, .page-admin-content-webform span.icon, .path-admin-config-content-webform span.icon, .page-admin-content-blocks span.icon, .page .page-admin-modules span.icon, .path-dashboard span.icon, .path-admin-advanced_help- span.icon, .path-admin-content-media span.icon, .path-admin-config-media-browser span.icon, .path-admin-config-workflow-rules span.icon, .path-admin-structure-profiles span.icon, .path-admin-structure-panels span.icon, .path-admin-structure-mini-panels span.icon, .path-admin-structure-views span.icon, .path-admin-structure-views- span.icon, .path-admin-structure-features span.icon, .path-admin-structure-field-collections span.icon, .path-admin-structure-context span.icon, .path-admin-config-administration-admin-menu span.icon, .path-admin-config-administration-admin_menu span.icon, .path-admin-config-user-interface-modulefilter span.icon {
  background-color: transparent;
  background-image: url(../images/page-icons.png);
  background-repeat: no-repeat;
  display: block;
  height: 30px;
  width: 30px; }

body {
  min-width: 1000px; }
  body.with-local-tasks #page-title div.contextual-links-wrapper {
    top: 62px; }
  body.page-admin-config-workflow-rules-links ul.rules-operations-add.action-links li {
    margin-right: 10px; }
  body.page-admin-config-workflow-rules-reaction-manage ul.rules-operations-add.action-links li {
    margin-right: 10px; }

#main-content {
  width: 96%;
  position: relative;
  float: left;
  margin: 0 2%; }

.sidebar {
  width: 200px;
  float: left;
  position: relative; }

.first_sidebar {
  margin-left: -100%;
  right: 200px; }

.second_sidebar {
  margin-right: -200px; }

#footer {
  margin: 10px 0 20px; }

div.view-header {
  padding: 2px 5px 4px; }
div.views-displays .views-ui-display-tab-bucket.pager a span {
  color: #59a; }
div.views-displays .pager a {
  color: #59a; }
div.contextual-links-region {
  position: relative; }
div.messages {
  background-repeat: no-repeat;
  background-position: 8px 8px;
  padding: 10px 10px 10px 44px; }
  div.messages.status {
    background-image: url(/misc/message-24-ok.png); }
  div.messages.warning {
    background-image: url(/misc/message-24-warning.png); }
  div.messages.error {
    background-image: url(/misc/message-24-error.png); }
div.view div.view-header {
  padding: 5px 10px 10px; }

table th {
  text-transform: uppercase; }
table tr.odd td.active {
  background-color: #e8e8e8; }
table tr.even td.active {
  background-color: #f2f2f2; }
table.rules-overview-table a.action.delete {
  background-position: 0 -100px; }
table.rules-overview-table a.action.disable {
  background-position: 0 -354px; }
table.rules-overview-table a.action.enable {
  background-position: 0 -314px; }
table.rules-overview-table a.action.export {
  background-position: 0 -164px; }
table.rules-overview-table a.action.revert {
  background-position: 0 -198px; }
table.rules-overview-table a.action.clone {
  background-position: 0 -234px; }
table.rules-overview-table a.action.translate {
  background-position: 0 -273px; }

.action-links.action-links-field-collection-add a {
  margin-right: 10px;
  background-position: 0 -67px;
  background-color: transparent;
  text-shadow: 0 0 0 transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  color: #008eb1;
  padding: 1px 0 1px 20px; }
  .action-links.action-links-field-collection-add a:hover {
    background-color: transparent; }
.action-links a:hover {
  background-color: #6ac; }

a.action-add {
  margin-right: 10px;
  background-position: 0 -67px; }
a.action-analyze {
  background-position: 0 -428px; }
a.action-clone {
  background-position: 0 -234px; }
a.action-configure {
  background-position: 0 -474px; }
a.action-delete {
  background-position: 0 -100px; }
a.action-edit {
  background-position: 0 1px; }
a.action-export {
  background-position: 0 -164px; }
a.action-revert {
  background-position: 0 -198px; }
a.action-table {
  background-position: 0 -392px; }
a.action-view {
  background-position: 0 -32px;
  margin-right: 10px; }
a.action-top {
  background-position: 0 -130px;
  float: right; }
a.module-link {
  display: block;
  padding: 1px 0 1px 20px;
  white-space: nowrap; }
a.module-link-help {
  background: url(/misc/help.png) no-repeat scroll 0 50% transparent; }
a.module-link-permissions {
  background: url(/misc/permissions.png) no-repeat scroll 0 50% transparent; }
a.module-link-configure {
  background: url(/misc/configure.png) no-repeat scroll 0 50% transparent; }
a.admin-conflict:link {
  background: #ff0; }
a.admin-conflict:visited {
  background: #ff0; }

td.views-empty {
  margin-top: 10px;
  padding: 10px 0 10px 38px;
  text-shadow: 1px 1px 1px #ccc;
  background: url(../images/ico-warning.png) 8px 10px no-repeat; }
td.views-field-delete-node a {
  background-position: 0 -100px; }
td.views-field-cancel-node a {
  background-position: 0 -100px; }
td.views-field-delete a {
  background-position: 0 -100px; }
td.views-field-devel-node a {
  background-position: 0 -32px; }
td.views-field-edit-node a {
  background-position: 0 1px; }
td.views-field-edit-term a {
  background-position: 0 1px; }
td.views-field-edit a {
  background-position: 0 1px; }
td.views-field-view-node a {
  background-position: 0 -32px; }
td.views-field-devel-user a {
  background-position: 0 -32px; }
td.views-field-view a {
  background-position: 0 -32px; }

#overlay {
  display: table;
  margin: 0 auto;
  min-height: 100px;
  min-width: 700px;
  padding: 0.2em 26px 2em 0.2em;
  position: relative;
  width: 93%; }

#edit-display-settings-title {
  color: #59a; }

.contextual-links-region {
  outline: none;
  position: static; }

.secondary-tabs {
  z-index: 100; }

.pager a {
  text-shadow: 1px 1px 1px #fff; }
.pager span {
  text-shadow: 1px 1px 1px #fff; }

#admin-menu {
  margin: 0;
  padding: 0; }
  #admin-menu .admin-menu-search .form-item {
    border: 0 none; }
  #admin-menu .admin-menu-search input {
    width: 184px; }

.form-item label {
  color: #666; }

tr.odd {
  background-color: #f3f3f3; }
tr.even {
  background-color: #fff; }

h1.path-admin-config-workbench span.icon {
  background-position: 0 -52px; }

#context-blockform td {
  vertical-align: top; }
#context-blockform .context-blockform-selector {
  height: 70em; }

.fubik-no-sidebars #main-content {
  float: none;
  width: auto;
  margin: 0 30px; }

.fubik-sidebar-first #page {
  padding-left: 230px; }

.fubik-two-sidebars #page {
  padding-left: 230px;
  padding-right: 230px; }

.fubik-sidebar-second #page {
  padding-right: 230px; }

ul.links li.revert a {
  margin-right: 8px;
  background-position: 0 -198px; }
ul.links li.configure a {
  margin-right: 8px;
  background-position: 0 -474px; }
ul.links li.clone a {
  margin-right: 8px;
  background-position: 0 -234px; }
ul.links li.export a {
  margin-right: 8px;
  background-position: 0 -164px; }
ul.links li.enable a {
  background-position: 0 -314px; }
ul.links li.disable a {
  margin-right: 8px;
  background-position: 0 -354px; }
ul.links li.flags_edit a {
  margin-right: 8px;
  background-position: 0 1px; }
ul.links li.flags_delete a {
  margin-right: 8px;
  background-position: 0 -100px; }
ul.links li.flags_export a {
  background-position: 0 -164px; }
ul.links li.edit a {
  margin-right: 8px;
  background-position: 0 1px; }
ul.links li.delete a {
  margin-right: 8px;
  background-position: 0 -100px; }
ul.links li.view a {
  margin-right: 8px;
  background-position: 0 -32px; }
ul.links li.translate a {
  background-position: 0 -273px; }

.field-collection-view-links li.edit a {
  margin-right: 8px;
  background-position: 0 1px;
  padding-top: 2px;
  padding-bottom: 2px; }
.field-collection-view-links li.delete a {
  background-position: 0 -100px;
  padding-top: 2px;
  padding-bottom: 2px; }

html.js input.throbbing {
  background-position: 100% -2px; }
html.js #edit-view-displays-wrapper div.form-item-show-tagged-with input.form-autocomplete {
  width: 160px; }

.views-ui-dialog .ui-dialog-titlebar-close {
  border-color: #ccc;
  box-shadow: none;
  right: 0;
  top: 0;
  background: url(../../rubik/images/buttons.png) no-repeat scroll -4000px 50% #444;
  border-radius: 5px 5px 5px 5px;
  display: block;
  height: 20px;
  margin: 5px;
  padding: 0;
  position: absolute;
  width: 20px; }

.dependent-options.form-item.form-item-menu-context {
  position: absolute;
  right: 22px;
  width: 160px; }

.views-display-settings .ctools-toggle {
  color: #59a; }

#dashboard ul.action-links a {
  float: left; }

.theme-selector img {
  width: 110px; }

.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane div.fieldset-content legend {
  display: block; }

.page-content #node-type-form div.form-item.form-item-name div.description {
  margin: 0 0 -50px; }

.primary-tabs a {
  text-shadow: 1px 1px 1px #fff; }

#admin-menu-wrapper div.toolbar-shortcuts ul.menu {
  padding: 1px 0 6px; }
  #admin-menu-wrapper div.toolbar-shortcuts ul.menu li {
    border-bottom: 0 transparent; }

.field-collection-container ul.action-links-field-collection-add {
  margin: 1em 0 1em 2em; }

#media-browser-tabset div.form-actions {
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ddd;
  padding: 9px; }
  #media-browser-tabset div.form-actions a.fake-submit {
    margin-right: 5px;
    box-shadow: 0 1px 1px #ddd;
    padding: 2px 10px 2px 25px;
    background: url(../../rubik/images/buttons.png) no-repeat scroll -2401px 50% #fff;
    border-color: #ddd #ddd #ccc;
    border-style: solid;
    border-width: 1px;
    color: #333;
    cursor: pointer;
    font-weight: normal;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em; }

#block-system-help div.block-content {
  background: url(../images/ico-help.png) 7px center no-repeat;
  padding-left: 40px; }

.path-admin-config-development-strongarm span.icon {
  background-position: 0 -1199px; }

.path-admin-config-user-interface-itoggle span.icon {
  background-position: 0 -1250px; }

.path-admin-config-workflow-subs span.icon {
  background-position: 0 -1152px; }

.path-admin-content-subscription span.icon {
  background-position: 0 -1152px; }

.path-admin-structure-subscriptions span.icon {
  background-position: 0 -1152px; }

.path-admin-structure-messages span.icon {
  background-position: 0 -1103px; }

.path-admin-config-content-fivestar span.icon {
  background-position: 0 -1049px; }

.path-admin-structure-mark span.icon {
  background-position: 0 -951px; }

.path-admin-structure-flags span.icon {
  background-position: 0 -898px; }

.path-admin-structure-file-types span.icon {
  background-position: 0 -999px; }

.path-admin-structure-block-types span.icon {
  background-position: 0 -643px; }

.page-admin-content-webform span.icon {
  background-position: 0 -752px; }

.path-admin-config-content-webform span.icon {
  background-position: 0 -752px; }

.page-admin-content-blocks span.icon {
  background-position: 0 -643px; }

.page .page-admin-modules span.icon {
  background-image: url(../../rubik/images/icons.png);
  background-position: -210px -30px; }

.path-dashboard span.icon {
  background-position: 0 -700px !important; }

.path-admin-advanced_help- span.icon {
  background-position: 0 -525px; }

.path-admin-content-media span.icon {
  background-position: 0 -466px; }

.path-admin-config-media-browser span.icon {
  background-position: 0 -466px; }

.path-admin-config-workflow-rules span.icon {
  background-position: 0 -348px; }

.path-admin-structure-profiles span.icon {
  background-position: 0 -111px; }

.path-admin-structure-panels span.icon {
  background-position: 0 -288px; }

.path-admin-structure-mini-panels span.icon {
  background-position: 0 -230px; }

.path-admin-structure-views span.icon {
  background-position: 0 2px; }

.path-admin-structure-views- span.icon {
  background-position: 0 2px; }

.path-admin-structure-features span.icon {
  background-position: 0 -406px; }

.path-admin-structure-field-collections span.icon {
  background-position: 0 -582px; }

.path-admin-structure-context span.icon {
  background-position: 0 -169px; }

.path-admin-config-administration-admin-menu span.icon {
  background-position: 0 -848px; }

.path-admin-config-administration-admin_menu span.icon {
  background-position: 0 -848px; }

.path-admin-config-user-interface-modulefilter span.icon {
  background-position: 0 -802px; }

.path-admin-dashboard span.icon {
  background-position: 0 -700px !important; }

.path-admin-workbench span.icon {
  background-position: 0 -52px; }

span.admin-conflict {
  background: #ff0; }

table.rules-overview-table a.action, .action-links.action-links-field-collection-add a, a.action-add, a.action-analyze, a.action-clone, a.action-configure, a.action-delete, a.action-devel, a.action-edit, a.action-export, a.action-revert, a.action-table, a.action-view, a.action-top, td.views-field-delete-node a, td.views-field-cancel-node a, td.views-field-delete a, td.views-field-devel-node a, td.views-field-edit-node a, td.views-field-edit-term a, td.views-field-edit a, td.views-field-view-node a, td.views-field-view-user a, td.views-field-devel-user a, td.views-field-view a, ul.links li.revert a, ul.links li.configure a, ul.links li.clone a, ul.links li.export a, ul.links li.enable a, ul.links li.disable a, ul.links li.flags_edit a, ul.links li.flags_delete a, ul.links li.flags_export a, ul.links li.edit a, ul.links li.delete a, ul.links li.devel a, ul.links li.view a, .field-collection-view-links li.edit a, .field-collection-view-links li.delete a, .author-image-edit, .coauthor-image-edit {
  width: 100px !important;
  height: 100px !important;
  margin: 0 auto 5px auto; }

/*
%extend_2 {
	position: relative;
	float: left;
	margin: 0 30px 10px 0;
	z-index: 50;
}
*/
.form-type-checkbox {
  display: inline-block;
  margin: 0 0 0 10px !important; }

.form-type-radio {
  display: inline-block;
  margin: 0 10px 10px 0; }

.form-item-field-location-und-0-thoroughfare {
  display: none; }

.form-item-field-location-und-0-premise {
  display: none; }

.form-item-field-location-und-0-administrative-area {
  margin-top: 0; }

.form-item-field-location-und-0-postal-code {
  display: none; }

.node-admin-page {
  display: none; }

img {
  width: inherit;
  height: inherit; }

.description {
  right: -60px !important;
  margin: 0 !important; }

.field-name-field-aa-allocation-date {
  width: 200px; }

.form-item {
  margin: 0 5px; }

.form-item-log {
  display: none; }

.media-widget .preview {
  display: inline-block;
  vertical-align: middle;
  background-color: #6cf !important;
  background: url(images/button-gray.png); }

table input.fluid {
  width: 100%; }

tr.even {
  background-color: #eee !important; }

ul.links li {
  padding: 0 5px !important; }

/**
 *Styles for the mandate content type
 */
/**
 *Edit screens
 */
#edit-field-managed-amount {
  position: relative;
  top: -45px;
  height: 35px; }
  #edit-field-managed-amount .form-item {
    position: absolute;
    right: 0; }

/**
 *Styles for Plans
 */
/**
 *Edit screen
 */
.field-multiple-drag {
  display: none; }

#field-plan-size-history-values .field-name-field-date .form-wrapper .fieldset-wrapper {
  padding-top: 0; }
  #field-plan-size-history-values .field-name-field-date .form-wrapper .fieldset-wrapper .form-type-date-popup {
    float: none;
    margin: 0 auto;
    width: 100%; }
    #field-plan-size-history-values .field-name-field-date .form-wrapper .fieldset-wrapper .form-type-date-popup label {
      display: none; }
    #field-plan-size-history-values .field-name-field-date .form-wrapper .fieldset-wrapper .form-type-date-popup input {
      width: 100px; }
    #field-plan-size-history-values .field-name-field-date .form-wrapper .fieldset-wrapper .form-type-date-popup .description {
      display: none; }

#edit-field-asset-allocation-history .field-multiple-table tbody tr.draggable {
  width: 19.9%;
  min-width: 300px;
  float: left; }
  #edit-field-asset-allocation-history .field-multiple-table tbody tr.draggable td {
    padding: 10px 5px; }
    #edit-field-asset-allocation-history .field-multiple-table tbody tr.draggable td .field-name-field-aa-allocation-date {
      width: auto; }
      #edit-field-asset-allocation-history .field-multiple-table tbody tr.draggable td .field-name-field-aa-allocation-date .fieldset-wrapper {
        padding-top: 0; }
        #edit-field-asset-allocation-history .field-multiple-table tbody tr.draggable td .field-name-field-aa-allocation-date .fieldset-wrapper .date-padding {
          padding: 10px 0;
          width: 100%; }
          #edit-field-asset-allocation-history .field-multiple-table tbody tr.draggable td .field-name-field-aa-allocation-date .fieldset-wrapper .date-padding .form-item {
            float: none;
            margin: 0 auto;
            width: 200px; }
            #edit-field-asset-allocation-history .field-multiple-table tbody tr.draggable td .field-name-field-aa-allocation-date .fieldset-wrapper .date-padding .form-item label {
              display: none; }
            #edit-field-asset-allocation-history .field-multiple-table tbody tr.draggable td .field-name-field-aa-allocation-date .fieldset-wrapper .date-padding .form-item .description {
              display: none; }
    #edit-field-asset-allocation-history .field-multiple-table tbody tr.draggable td .group-allocations .field-type-number-decimal {
      width: 145px;
      float: left; }
      #edit-field-asset-allocation-history .field-multiple-table tbody tr.draggable td .group-allocations .field-type-number-decimal input {
        width: 50px; }
    #edit-field-asset-allocation-history .field-multiple-table tbody tr.draggable td .group-allocations .field-name-field-allocation-total {
      width: 145px;
      float: left;
      margin-top: 2px;
      margin-bottom: 2px;
      padding-bottom: 4px;
      padding-top: 5px; }
      #edit-field-asset-allocation-history .field-multiple-table tbody tr.draggable td .group-allocations .field-name-field-allocation-total input {
        width: 50px; }
    #edit-field-asset-allocation-history .field-multiple-table tbody tr.draggable td .button-remove {
      clear: both;
      float: none;
      text-align: center;
      margin: 0 auto;
      display: block; }
    @media all and (max-width: 1292px) {
      #edit-field-asset-allocation-history .field-multiple-table tbody tr.draggable td {
        width: 33.333%; } }
    @media all and (max-width: 1000px) {
      #edit-field-asset-allocation-history .field-multiple-table tbody tr.draggable td {
        width: 50%; } }

#edit-field-foia-history .field-multiple-table tbody tr.draggable {
  width: 24.9%;
  min-width: 300px;
  float: left;
  border-left: 1px solid #689afd;
  /*
  @media all and (max-width: 1292px) {
     width: 33.333%;
  }
  @media all and (max-width: 1000px) {
     width: 50%;
  }
  */ }
  #edit-field-foia-history .field-multiple-table tbody tr.draggable:first-child {
    border-left: none; }
  #edit-field-foia-history .field-multiple-table tbody tr.draggable .field-name-field-foia-date {
    width: auto; }
    #edit-field-foia-history .field-multiple-table tbody tr.draggable .field-name-field-foia-date .fieldset-wrapper {
      padding-top: 0; }
      #edit-field-foia-history .field-multiple-table tbody tr.draggable .field-name-field-foia-date .fieldset-wrapper .date-padding {
        padding: 10px 0;
        width: 100%; }
        #edit-field-foia-history .field-multiple-table tbody tr.draggable .field-name-field-foia-date .fieldset-wrapper .date-padding .form-item {
          float: none;
          margin: 0 auto;
          width: 100%; }
          #edit-field-foia-history .field-multiple-table tbody tr.draggable .field-name-field-foia-date .fieldset-wrapper .date-padding .form-item label {
            display: none; }
          #edit-field-foia-history .field-multiple-table tbody tr.draggable .field-name-field-foia-date .fieldset-wrapper .date-padding .form-item input {
            width: 100px; }
          #edit-field-foia-history .field-multiple-table tbody tr.draggable .field-name-field-foia-date .fieldset-wrapper .date-padding .form-item .description {
            display: none; }
  #edit-field-foia-history .field-multiple-table tbody tr.draggable .group-foia-contact {
    margin: 0 5px 5px 5px; }
    #edit-field-foia-history .field-multiple-table tbody tr.draggable .group-foia-contact .fieldset-wrapper {
      padding-top: 0; }
      #edit-field-foia-history .field-multiple-table tbody tr.draggable .group-foia-contact .fieldset-wrapper .form-wrapper {
        margin-bottom: 5px; }

/**
 * Styles for consultant firm screens
 */
#consultant-firm-node-form .ds-above-left, #consultant-firm-node-form .ds-above-right {
  box-sizing: border-box;
  padding: 0 5px; }
#consultant-firm-node-form .field-name-field-consultant-contacts-embed .view-header {
  padding: 0;
  font-size: 10px;
  font-weight: bold; }
#consultant-firm-node-form .field-name-field-aua input {
  width: 200px; }

/**
 *Styles for modal windows
 */
#modalContent #contact-node-form .ds-above-left, #modalContent #contact-node-form .ds-above-right {
  width: 33.3%; }
#modalContent #contact-node-form .text-summary-wrapper {
  display: none; }
#modalContent #contact-node-form .field-name-body .form-type-textarea label {
  float: none; }
#modalContent #contact-node-form .field-name-body .form-type-textarea .form-textarea-wrapper {
  margin-left: 0;
  margin-right: 0; }
  #modalContent #contact-node-form .field-name-body .form-type-textarea .form-textarea-wrapper #cke_2_top #cke_72, #modalContent #contact-node-form .field-name-body .form-type-textarea .form-textarea-wrapper #cke_2_top #cke_75, #modalContent #contact-node-form .field-name-body .form-type-textarea .form-textarea-wrapper #cke_2_top #cke_85, #modalContent #contact-node-form .field-name-body .form-type-textarea .form-textarea-wrapper #cke_2_top #cke_93, #modalContent #contact-node-form .field-name-body .form-type-textarea .form-textarea-wrapper #cke_2_top #cke_98 {
    display: none; }
#modalContent #contact-node-form tr .form-item {
  white-space: normal; }
#modalContent #contact-node-form .field-name-field-employment-date .date-combo .date-float {
  clear: both;
  float: none; }
#modalContent #contact-node-form .field-name-field-employment-date .date-combo .start-date-wrapper, #modalContent #contact-node-form .field-name-field-employment-date .date-combo .end-date-wrapper {
  width: 150px;
  float: left;
  clear: none; }
  #modalContent #contact-node-form .field-name-field-employment-date .date-combo .start-date-wrapper input, #modalContent #contact-node-form .field-name-field-employment-date .date-combo .end-date-wrapper input {
    width: 100px; }
#modalContent #contact-node-form .field-name-field-employment-date .date-combo .end-date-wrapper {
  width: 200px; }
  #modalContent #contact-node-form .field-name-field-employment-date .date-combo .end-date-wrapper label {
    width: 40px;
    clear: none; }
#modalContent #contact-node-form .field-name-field-address .addressfield-container-inline .form-item {
  float: none; }
#modalContent #contact-node-form .form-type-link-field label {
  float: none; }
#modalContent #contact-node-form .field-name-field-consultant-job-type label {
  float: none; }
#modalContent #consultant-firm-node-form .ds-above-left {
  width: 49%;
  margin: 0 1% 0 0; }
#modalContent #consultant-firm-node-form .ds-above-right {
  width: 49%;
  margin: 0 0 0 1%; }
#modalContent #consultant-firm-node-form .field-name-field-website .form-item label {
  float: none; }
#modalContent #consultant-firm-node-form .vertical-tabs {
  margin: 0; }
#modalContent #manager-firm-node-form .ds-above-left, #modalContent #manager-firm-node-form .ds-above-middle, #modalContent #manager-firm-node-form .ds-above-right {
  width: 32%;
  margin: 0 .5%; }
#modalContent #manager-firm-node-form .form-item {
  margin: 0;
  width: 95%; }
  #modalContent #manager-firm-node-form .form-item input, #modalContent #manager-firm-node-form .form-item select {
    width: 98%; }

/*** Color Variables ***/
/* Page */
/* Borders */
/*Form Elements */
/*cddeff*/
/* Text */
/* Misc */
/********** CSS Overrides **********/
/*** Page Elements ***/
body.tao {
  background: #003366; }

#main-content, .block .block-content, .container-inline .fieldset-content, .fieldset-content {
  background: #f0f5ff; }

#page-title {
  background: #689afd; }
  #page-title .page-title {
    text-shadow: none; }

a {
  color: #003399; }
  a a:hover {
    color: #0058ff; }

/*** Form Elements ***/
.fieldset {
  border: 1px solid #689afd;
  margin: 5px; }
  .fieldset .fieldset .fieldset-content {
    background: #cedaff none repeat scroll 0 0; }
  .fieldset #main-content, .fieldset .block .block-content, .fieldset .container-inline .fieldset-content, .fieldset .fieldset-content {
    background: #dee6ff none repeat scroll 0 0; }

.collapsible .fieldset-legend {
  background: #689afd none repeat scroll 0 0;
  padding: 0 5px; }

.item-list h3, .block .block-title, .fieldset-title, .collapsible .fieldset-legend a {
  background: #689afd; }

.form-wrapper.form-actions {
  background: #689afd;
  border: 1px solid #689afd; }

.block, .item-list, .help-items ul, .form-item, .confirmation ul, .admin-list, .node-type-list, .admin-panel {
  border-color: #689afd;
  margin: 0; }

.vertical-tabs {
  background: #cedaff;
  border: 1px solid #689afd; }

.vertical-tabs-list li a {
  color: #000000;
  text-shadow: none;
  border-bottom: 1px solid #689afd; }
.vertical-tabs-list .selected a {
  background: #dee6ff none repeat scroll 0 0; }

.form-item label {
  color: #000000;
  margin-left: 5px; }

/*** Tables ***/
table {
  background-color: #f0f5ff;
  border-color: #689afd; }
  table th {
    background: #689afd;
    text-transform: none;
    text-shadow: none; }
  table tr.odd td.active, table table tr.even td.active {
    background-color: #87affe; }

tr.odd {
  background: #cedaff !important;
  background-color: #cedaff !important; }

tr.even {
  background-color: #98bafe !important;
  background: #98bafe !important; }

.page-admin table tr.odd, .page-admin .page-admin table tr.odd td {
  background-color: #cedaff !important; }
.page-admin table tr.even, .page-admin .page-admin table tr.even td {
  background-color: #98bafe !important; }

/* Field Groups */
.item-list h3, .block .block-title, .fieldset-title, .collapsible .fieldset-legend a {
  font-size: 14px;
  font-weight: bolder; }

/* Fields */
#edit-field-status-tr {
  float: left;
  margin: 0 15px 0 0; }

/* Buttons */
.pager li.pager-current, .primary-tabs li.active {
  background-color: #cedaff; }

input.teaser-button, input.form-submit, a.button, .form-actions #edit-cancel {
  box-shadow: 0 1px 1px #666666; }

/*** Devel ***/
.dev-query {
  color: #666666; }

/* Window size indicator */
#win-size {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30px;
  background-color: #EEE;
  color: #000;
  font-size: 12px;
  font-family: sans-serif;
  z-index: 1000; }

#edit-callbacks-search-api-alter-add-hierarchy-settings-fields {
  height: auto; }

#facetapi-facet-display-form .facetapi-more-text-setting {
  clear: both; }

.form-actions {
  float: none; }

#contact-node-form .field-type-image {
  position: relative; }
  #contact-node-form .field-type-image .preview {
    display: none; }
  #contact-node-form .field-type-image .remove {
    position: absolute;
    left: 150px;
    bottom: 0; }
#contact-node-form .manualcrop-thumblist .manualcrop-preview .manualcrop-preview-cropped img {
  max-width: none; }

/*
 *Disable plan view fieldset on plan creation
 */
body.page-node-add-plan .group-plan-contacts {
  display: none; }

.view-comment-views th.views-field-edit-comment {
  width: 70px;
  padding: 0; }
.view-comment-views td.views-field-edit-comment {
  padding: 0; }
  .view-comment-views td.views-field-edit-comment a {
    margin: 0; }
  .view-comment-views td.views-field-edit-comment div.magical-modal-link {
    display: inline-block;
    margin: 0 5px 0 0; }

.view-reference-views th.views-field-edit-comment {
  width: 70px;
  padding: 0; }
.view-reference-views td.views-field-edit-comment {
  padding: 0; }
  .view-reference-views td.views-field-edit-comment a {
    margin: 0; }
  .view-reference-views td.views-field-edit-comment div.magical-modal-link {
    display: inline-block;
    margin: 0 5px 0 0; }

#edit-field-placement-policy-tr {
  display: inline-block; }

.page-node-edit .column-main, .page-node-add .column-main {
  width: 90%; }
.page-node-edit .column-side, .page-node-add .column-side {
  width: 10%; }
.page-node-edit table.sticky-header, .page-node-add table.sticky-header {
  z-index: 1000; }

/*# sourceMappingURL=custom.css.map */
