/**
 *Override styles for modal windows
 */
div#modalContent.modal-default {
  .ctools-modal-content {
    width: auto !important;
    height: 100% !important;
    
    //Plan contacts from plan view page
    form.node-contact-form {
      .field-name-body {
        ul.tips {
          display: none;
        }
      }
    }
  }
}