/**
 *SCSS file for custom styling
 */

/**
 *Import other sheets
 **/
@import "_modals.scss";
@import "pages/_advanced_search.scss";

/********** Color Variables **********/

/* FIN */
$fin-blue: #1368a6;
$fin-navy: #142a45;

/* Page */
$background: #ffffff;
$blue-black: #000033;
$dark-blue: #003366;
$text: #000000;
$header: $fin-navy;
$white: #ffffff; // Cuz you just need white sometimes

/* Borders */
$border-blue: #689afd;

/* Form Elements */
$form-background-blue: #e7efff;
$fieldset-background-blue: #bad0fd;
$fieldset-label-background-blue: #689afd;
$form-item-odd-blue: #dedede;
$form-item-even-blue: #ffffff;
$form-item-active-blue: #d4e2fe;

/* Buttons*/
$dark-button: #1368a6;

/* Text */
$link: #003399;
$link-hover: #428bca;
$form-item-label: #000000;

/* Misc */
$shadow: #666666;


/********** Addressfield country fix **********/
.field-type-addressfield {
    .addressfield-container-inline {
    }
    .country {
        margin: 0;
        display: block;
    }
}

/********** Menu **********/
#section-header {
    .container {
        background-color: $header;
    }
    .dexp-dropdown {
        ul.menu ul.menu li, ul.menu .dexp-menu-mega li {
            border-top: 1px solid $header;
        }
        ul.menu ul.menu li a, ul.menu ul.menu li span.nolink, ul.menu .dexp-menu-mega li a, ul.menu .dexp-menu-mega li span.nolink {
            color: $white;
            font-weight: bold;
        }
        ul.menu ul.menu li span.nolink:hover, ul.menu ul.menu li span.nolink.active, ul.menu .dexp-menu-mega li a:hover, ul.menu .dexp-menu-mega li a.active, ul.menu .dexp-menu-mega li span.nolink:hover, ul.menu .dexp-menu-mega li span.nolink.active {
            background-color: $header;
            color: $white;
        }
        ul.menu li a:hover {
            background-color: $fin-blue;
        }
        ul.menu li a.active, {
            background-color: $fin-blue;
        }
        ul.menu ul.menu li, .dexp-dropdown ul.menu .dexp-menu-mega li {
            background: $fin-blue;
        }
        ul.menu ul.menu li.first, ul.menu .dexp-menu-mega li.first {
            border-top: solid 1px $header;
        }
        ul.menu ul.menu li a.active {
            background: $fin-blue;
            color: $white;
        }
        ul.menu ul.menu li a:hover {
            background: $header;
            color: $white;
        }
    }
    .dexp-dropdown > ul > li {
        border-left: none;
        border-right: none;
    }
    .dexp-dropdown > ul > li > a, .dexp-dropdown > ul > li > span.nolink {
        border-bottom-style: none;
        font-weight: bold;
    }
    .dexp-dropdown > ul li > ul, .dexp-dropdown > ul li > .dexp-menu-mega {
        border-top: none;
    }
}

/********** Sections **********/
#section-top-bar {
    padding: 5px;
    .region-top-right {
        .block {
            float: none;
            text-align: right;
        }
        .block-search-api-page {
            div.form-type-textfield {
                display: inline-block;
                vertical-align: top;
            }
            input.btn-primary {
                display: inline-block;
                vertical-align: top;
                //margin: 15px 0 0 0;
            }
            .btn.form-submit {
                background: $dark-button;
            }
        }
        #block-search-api-page-solr-search-page {
            .form-item-keys-1 {
                margin-bottom: 0;
                margin-top: 0;
                #edit-keys-1 {
                    width: 150px;
                }
            }
        }
    }
}
#section-header {
    background: $header;
    .btn {
        background: $dark-button;
    }
}
#section-main-content {
    padding: 0 0 30px 0;
}
.ds-header li.comment-add {
    display: none;
}
.dexp-sticky {
    background-color: $fin-navy !important;
}
.page-node-95493 {
    #page-title {
        display: none;
    }
}

/********** Blocks **********/
legend {
    font-size: 18px;
}
h3.block-title {
    font-size: 18px;
    text-transform: capitalize;
    padding: 4px 0;
    a {
        background: none;
    }
    position: relative;
    margin: 0;
    background: $header;
}
#block-system-main {
    div.field-type-ds {
        margin: 0 0 25px 0;
        &.field-name-modal-contact-link,
        &.field-name-modal-mandate-link,
        &.field-name-modal-plan-link{
            margin-top: -23px;
            margin-bottom:25px;
        }
    }
}
span.fieldset-legend {
    text-transform: uppercase;  
}
.collapsiblock a {
    color: $white;
    margin: 0 0 0 5px;
}
.block-views {
    //margin: 30px 0 0 0;
    margin:  0;
    padding: 0;
}
#block-views-a9706a0c2bd6ed2ad2a9fb0317b34834, #block-views-saved-filters-block-2 {
    margin-bottom: 30px;
}
#block-views-fc10fe18968568e5efc680da7eb0b9a9 {
    margin-bottom: 30px;
    .view-plans-placement-policy {
        background-color: $form-background-blue;
        padding: 10px;
    }
}
#block-user-online .content {
    background: $form-background-blue;
    padding: 10px;
}
.item-list ul {
    text-align: left;
}
.field-name-plan-potential-leads-mandates-bf, .field-name-plan-new-leads-mandates-bf, .field-name-plan-ongoing-mandates-bf, .field-name-plan-completed-mandates-bf, .field-name-plan-closed-mandates-bf {
    margin: 0 !important;
}
.node-type-plan {
    .field-name-modal-mandate-link {
        margin-top: 0 !important;
    }
}
.field-name-consultant-main-office-bf {
    .content {
        background: $form-background-blue;
    }
}
.node-type-plan, .node-type-manager-firm, .node-type-consultant-firm {    
    .ds-above-right {
        padding: 0;
    }
}
.node-type-manager-firm {
    .group-firm-info {
        .fieldset-legend {
            text-transform: capitalize;
        }
    }
}
.node-type-mandate {
    h2.title {
        margin: 0;
        padding: 5px 0 5px 10px;
        font-weight: normal;
        font-size: 21px;
        line-height: 21px;
        background: $fin-navy;
        color: $white;
    }
    .view-mandate-plan-info {
        .view-content {
            background: $form-background-blue;
            padding: 5px;
        }
        .collapsiblock a {
            color: #1368a6 !important;
        }
    }
}

/**** Asset Allocation Block ****/
#block-views-e4fc768a8b33062e403168acc7227243 {
    margin-bottom: 15px;
}

/********** Content **********/
body.boxed {
    background: #1368a6; /* Old browsers */
    background: -moz-linear-gradient(top,  #1368a6 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1368a6 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1368a6 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1368a6', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.page-node-3702, .page-node-3704, .page-node-3705, .page-node-3706, .page-node-3707, .page-node-3710, .page-node-6806, .page-node-3711 {
    #page-title {
        display: none; // Removes titles from these site pages
    }
}
body {
    font-family: "Lato Regular Web" !important;
    color: #000000;
}
h2.title {
    margin: 30px 0 0 0;
}
.breadcrumb span {
    font-size: 14px;
}
a.fieldset-title {
    text-transform: capitalize;
}
.content legend {
/*    margin-top: 10px;
    margin-bottom: 10px; */
}
.field-name-field-photo .field-item {
    text-align: center;
}
.chosen-container-multi .chosen-choices {
    border: 1px solid $border-blue;
}
.btn.form-submit {
    background: $dark-button;
}
body.node-type-mandate {
    #page-title {
        display: none;
    }
    .breadcrumb {
        span.even {
            .delimiter {
                display: none;              // Remove breadcrumb from mandates page -- Fix later
            }
        }
        span.odd {
            display: none;
        }
    }
}

/********** Display Suite **********/
#block-system-main {
    h3.block-title {
        padding: 6px 0 6px 5px;
        font-size: 18px;
    }
    .field-group-fieldset legend {
        padding-left: 10px;
    }
}
.ds-above-left, .ds-above-right {
    padding: 0 10px 10px 0;
    margin-bottom: 15px;
    .fieldset-wrapper,
    .content {
        padding: 10px 0 10px 10px;
    }
    .field-group-fieldset {
        background: $form-background-blue;
        .field-label,
        .field-content strong{
            padding-right:0.25em;
        }
        legend {
            padding: 5px 0;
            background: $header;
            .btn {
                background: $dark-button;
            }
            span.fieldset-legend {
                color: $background;
                background: none;
                //padding: 4px 0 4px 0px;
                font-size: 18px;
                a.fieldset-title {
                    margin: 10px 0;
                }
            }
        }
    }
}
.ds-middle legend {
    background: $header;
    padding: 5px 0;
}
.ds-above-right {
    padding: 0 0 10px 10px;
}
.ds-below-left, .ds-below-right {
    padding: 0 10px 25px 0;
}
.ds-below-left, .ds-middle {
    h2.title {
        margin-top:0px;
    }
}
.ds-below-right {
    padding: 0 0 25px 10px;
}
.ds-footer {
    //Have to use padding because of floats
    padding: 0 0 0 0;
}

ul.links {
    float: right;
    margin: 0;
}

/*** Maps Blocks ***/
.node-type-plan {
    .group-plan-info {
        height: 260px;
    }
    .field-name-plan-node-map-bf {
        .content {
            padding: 0 0 0 10px;
        }
    }
}
.node-type-consultant-firm {
    .ds-above-left {
        height: 220px;
        margin-bottom: 50px;
    }
    .field-name-consultant-main-office-bf {
        .field-items {
            height: 220px;
        }
    }
    .field-name-consultant-node-map-bf {
        .content {
            padding: 0 0 0 10px;
        }
    }
}
.node-type-office {

}
.node-type-manager-firm {
    .group-firm-info {
        height: 270px;
    }
    .field-name-manager-node-map-bf {
        .content {
            padding: 0 0 0 10px;
        }
    }
}

/********** Views **********/
.view-id-extra_views {
    .views-accordion-header {
        .field-content {
            font-family: "Lato Regular Web" !important;
            font-size: 14px;
        }
    }
    .ui-accordion-content {
        .recent-actions {
            display: inline-block;
            margin: 0 10px 0 0;
        }
    }
    .item-list {
        margin: 5px 0 4px 0;
    }
}
.view-views-search {
    .view-content {
        display: none;
    }
    .pager {
        display: none;
    }
}
.views-submit-button {
    button.my-views-filter-reset {
        position: relative;
        top: 11px;
        left: 10px;
    }
}
.view-comment-views {
    th.views-field-edit-comment {
        width: 70px;
        padding: 0;
    }
    td.views-field-edit-comment {
        padding: 0;
        a {
            margin: 0;
        }
        div.magical-modal-link {
            display: inline-block;
            margin: 0 5px 0 0;
        }
    }
}
span.fieldset-legend {
    //padding: 0 0 10px 0;
    padding: 0;
    //margin: 0 0 0 5px;
    margin: 0;
    a {
        color: $background;
    }
}
fieldset.collapsible .fieldset-legend {
    //margin: -5px 0 0 0;
}
.view-content-lists, .view-reference-views {
    th.views-field-edit-node, td.views-field-view-node {
        width: 70px;
    }
    td.views-field-edit-node, td.views-field-view-node {
        padding: 0;
        a {
            margin: 0 5px;
        }
    }
    td.views-field-field-tasks {
        .tasks {
            display: block;
            position: absolute;
            left: 10%;
            width: 80%;
            border: 2px solid #000;
            border-radius: 10px;
            padding: 5px;
            top: 60px;
            background-color: #FFF;
            z-index: 10;
            &.closed {
                display: none;
            }
            .close {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}
.attachment-after {
    text-align: center;
}
.view-display-id-attachment_1 {
    display: inline-block;
}
.view-footer {
    margin-top: 10px;
}
.column-phone {
    min-width: 90px;
}
/*** Plan- Contacts View ***/
.view-display-id-plan_lead_contact {
    th.views-field-title {
        width: 20%;
    }
    th.views-field-field-job-title {
        width: 20%;
    }
    th.views-field-field-address-data {
        width: 15%;
    }
    th.views-field-field-email {
        width: 20%;
    }
    th.views-field-edit-node {
        width: 5%;
    }
    .lead-contact {
        display: inline-block;
        margin-left: 5px;
    }
}
.view-display-id-plan_inactive_contacts_att {
    td.views-field-title a {
        text-decoration: line-through;
    }
    td.views-field-title {
        width: 17%;
    }
    td.views-field-field-job-title {
        width: 18%;
    }
    td.views-field-field-address-data {
        width: 13%;
    }
    td.views-field-field-email {
        width: 20%;
    }
    td.views-field-edit-node {
        width: 5%;
    }
}
/*** Plan - Mandates Views ***/
.node-type-plan {
    .group-mandates{
        display: block;
        margin: 0 0 25px 0;
    }
    .ds-below-left, .ds-below-right {
        padding: 0;
    }
}
/*** News Views ***/
.view-display-id-news_list {
    h5 {
        margin: 0;
    }
    .views-field-title-field {
        padding: 5px;
    }
    td.views-field-field-cover-image {
        padding: 10px;
    }
}
.view-display-id-plan_related_news {
    td.views-field-field-cover-image {
        padding: 10px;
    }
}
.view-display-id-consultant_related_news {
    td.views-field-field-cover-image {
        padding: 10px;
    }
}
.view-display-id-manager_related_news {
    td.views-field-field-cover-image {
        padding: 10px;
    }
}
/*** Consultant - Contacts View ***/
.view-display-id-consultant_contacts {
    td.views-field-title-field {
        width: 15%;
    }
    td.views-field-field-job-title {
        width: 15%;
    }
    td.views-field-field-job-title {
        width: 15%;
    }
    td.views-field-field-consultant-office-er {
        width: 15%;
    }
    td.views-field-field-address-data {
        width: 15%;
    }
    td.views-field-field-email {
        width: 15%;
    }
    td.views-field-edit-node {
        width: 5%;
    }
}
.view-display-id-consultant_inactive_contacts {
    td.views-field-title {
        width: 13%;
        a {
            text-decoration: line-through;
        }
    }
    td.views-field-field-job-title {
        width: 15%;
    }
    td.views-field-field-job-title {
        width: 15%;
    }
    td.views-field-field-consultant-office-er {
        width: 15%;
    }
    td.views-field-field-address-data {
        width: 15%;
    }
    td.views-field-field-email {
        width: 15%;
    }
    td.views-field-edit-node {
        width: 5%;
    }
}
/********** Exposed Filters **********/
html.js fieldset.collapsible .fieldset-legend {
    padding-left: 0;
}
.view-header {
    .btn {
        display: none;
    }
}
.view-filters {
    background-color: $form-background-blue;
    color: $fin-blue;
    #edit-container-root {
        margin: 0;
        .fieldset-wrapper {
            text-align: center;
        }
        span.fieldset-legend a {
            text-transform: capitalize;
        }
    }
    .form-text {
        width: 220px;
        height: 24px;
        border: solid 1px $border-blue;
    }
    .views-submit-button {
        display: none;
    }
    .chosen-container {
        max-width: 220px;
    }
    ul.chosen-choices {
        max-width: 220px;
    }
    .fieldset-wrapper{
        label {
            //float: left;
            //padding-left: 5px;
        }
    }
    .form-item {
        display: block;
    }
    .form-item-items-per-page {
        width: auto;
        display: inline-block;
        margin-right: 10px;
    }
    #edit-items-per-page {
        border: solid 1px $border-blue;
    }
    #views-exposed-form-map-views-map-search .form-item label {
        display: inline-block;
    }
}

/*** Parent Lists ***/
#views-exposed-form-content-lists-managers-list, #views-exposed-form-content-lists-news-list, #views-exposed-form-content-lists-rfps-list {
    #edit-container-container-2 {
    display: inline-block;
    max-width: 99%;
    text-align: center;
    margin: 10px auto;
    }
    #edit-container-container-3, #edit-container-container-4, #edit-container-container-5 {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 26%;
        //padding:0 10px;
        legend {
            border: solid 1px $header;
            color: #ccc;
        }
        .fieldset-wrapper {
            padding:  0 10px;
        }
        .form-item label {
            margin-bottom: 0;
            margin-top: 5px; 
        }
    }
    #edit-container-container-3 {
        margin: 0 10px 10px 0;
    }
    #edit-container-container-4 {
        margin-bottom: 0 0 10px 0;
    }
    #edit-container-container-5 {
        margin: 0 0 10px 10px;
    }
    #edit-container-container-6 {
        width: 100%;
        margin: 0;
        position: relative;
    }
}
/*** Plans List ***/
#views-exposed-form-content-lists-plans-list {
    #edit-container-container-2 {
    max-width: 99%;
    text-align: center;
    margin: 10px auto;
    }
    #edit-container-container-3, #edit-container-container-4, #edit-container-container-5 {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 26%;
        //padding:0 10px;
        legend {
            border: solid 1px $header;
            color: #ccc;
        }
        .fieldset-wrapper {
            padding:  0 10px;
        }
        .form-item label {
            margin-bottom: 0;
            margin-top: 5px; 
        }
    }
    #edit-container-container-3 {
        margin: 0 10px 10px 0;
        width: 26%;
        #edit-title-field-value {
            display: block;
        }
    }
    #edit-container-container-4 {
        margin-bottom: 0 0 10px 0;
        width: 26%;
    }
    #edit-container-container-5 {
        margin: 0 0 10px 10px;
        width: 26%;
        .fieldset-wrapper {
            padding: 0;
            margin-bottom: 10px;
        }
        .fieldset-wrapper::before {
            content: "Plan Size";
            font-weight: bold;
            display: block;
            //text-align: left;
            width: 100%;
            padding: 5px 0 0 0;
        }
    }
    #edit-container-container-6 {
        width: 100%;
        margin: 0;
        position: relative;
    }
        .form-item-field-plan-size-value-min, .form-item-field-plan-size-value-max {
        display: inline-block;
        text-align: center;
        height: 24px;
        label {
            width: auto;
            margin: 0 5px;
            padding-bottom: 3px;
        }
        input[type="text"] {
            padding: 0 6px;
        }
    }
    #edit-field-plan-size-value-min, #edit-field-plan-size-value-max {
        width: 64px;
        height: 22px;
        line-height: 22px;
        border: solid 1px $border-blue;
    }
    #edit-field-date-value-min-datepicker-popup-6, #edit-field-date-value-max-datepicker-popup-6, #edit-created-min, #edit-created-max {
        display: inline-block;
        text-align: center;
        max-width: 90px;
        margin: 0;
    }
    .form-type-date-popup label {
        margin-top: 0 !important;
    }
    .form-item-created-min {
        //float: left;
    }
}
/*** Plan Contacts List ***/
#views-exposed-form-content-lists-plan-contacts-list {
    #edit-container-container-4 {
    display: inline-block;
    max-width: 99%;
    text-align: center;
    margin: 10px auto;
    }
    #edit-container-container-5, #edit-container-container-6, #edit-container-container-7 {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 26%;
        //padding:0 10px;
        legend {
            border: solid 1px $header;
            color: #ccc;
        }
        .fieldset-wrapper {
            padding:  0 10px;
        }
        .form-item label {
            margin-bottom: 0;
            margin-top: 5px; 
        }
    }
    #edit-container-container-5 {
        margin: 0 10px 10px 0;
        #edit-title-field-value {
            width: 220px;
        }
    }
    #edit-container-container-6 {
        margin-bottom: 0 0 10px 0;
    }
    #edit-container-container-7 {
        margin: 0 0 10px 10px;
    }
    #edit-container-container-8 {
        width: 100%;
        margin: 0;
        position: relative;
    }
    .form-item-field-address-locality label{
        display: block;
    }
}
/*** Mandates List ***/
#views-exposed-form-content-lists-mandates-list, {
    #edit-container-container-2 {
        display: inline-block;
        max-width: 97%;
        text-align: center;
        margin: 10px auto;
    }
    #edit-container-container-3, #edit-container-container-4, #edit-container-container-5 {
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
        //width: 30%;
        legend {
            border: solid 1px $header;
            color: #ccc;
        }
        .form-item label {
            margin-bottom: 0;
            margin-top: 5px; 
        }
    }
    #edit-container-container-3 {
        margin: 0 10px 10px 0;
        width: 29%;
    }
    #edit-container-container-4 {
        margin-bottom: 0 10px 10px 0;
        width: 27%;
        .fieldset-wrapper {
            text-align: center;
        }
        ul.chosen-choices {
            width: 100%;
        }
    }
    #edit-container-container-5 {
        margin: 0 0 10px 10px;
        width: 30%;
    }
    #edit-container-container-6 {
        width: 100%;
        margin: 0;
        position: relative;
    }
    #edit_field_mandate_status_tr_tid_chosen {
        margin-bottom: 15px;
    }
    .form-item-field-mandate-status-tr-tid {
        padding: 0 10px;
        //text-align: left;
    }
    .form-item-field-mandate-status-tr-tid::after {
        content: "Date";
        font-weight: bold;
    }
    .form-item-field-mandate-status-tr-tid label {
        display: block;
        //float: none;
    }
    #edit-field-date-value-min-wrapper, #edit-field-date-value-max-wrapper {
        width: 49%;
        display: inline-block;
        text-align: center;
        padding: 0 10px;
    }
    #edit-field-date-value-min-inside-wrapper, #edit-field-date-value-max-inside-wrapper {
        .form-item label {
            margin-top: 0;
        }
    }
    #edit-field-date-value-min-datepicker-popup-0, #edit-field-date-value-max-datepicker-popup-0 {
        display: inline-block;
        text-align: center;
        width: 90px !important;
        height: 22px;
        line-height: 22px;
        margin: 0;
    }
    .form-item-field-plan-type-tr-tid {
        width: auto;
        label {
            display: block;
            float: none;
            //text-align: left;
            //padding-left: 40px;
        }
    }
    .form-item-field-address-administrative-area {
        width: 25%;
        display: inline-block;
        text-align: center;
        margin-right: 5px;
        label {
            display: block;
    }
    #edit-field-address-administrative-area {
        width: 100%;
        margin-bottom: 0;
        height: 22px;
        line-height: 22px;
    }
}                                                                                   // Why is this here?!
    .form-item-field-address-country {
        width: 52%;
        display: inline-block;
        text-align: center;
        margin-left: 5px;
        label {
            display: block;
            margin-top: 0;
        }
        #edit_field_address_country_chosen {
            max-width: 100%;
        }
    }
    .form-item-title {
        width: 220px;
        label {
            display: block;
            //padding-left: 40px;
        }
    }
    #edit-title {
        width: 100%;
    }
    .form-item-field-account-size-value-min, .form-item-field-account-size-value-max {
        display: inline-block;
        text-align: center;
        height: 24px;
        label {
            width: auto;
            margin: 0 5px;
            padding-bottom: 3px;
        }
    }
    #edit-field-account-size-value-min, #edit-field-account-size-value-max {
        width: 64px;
        height: 22px;
        line-height: 22px;
        border: solid 1px $border-blue;
    }
    #edit-container-container-5 {
        .fieldset-wrapper {
            padding: 0;
            margin-bottom: 10px;
        }
        .fieldset-wrapper::before {
            content: "Mandate Size";
            font-weight: bold;
            display: block;
            width: auto;
            //text-align: left;
            padding: 5px 0 0 0;
        }
    }
    #edit_field_geographic_tr_tid_chosen, #form-item-field-attribute-tr-tid, #edit_major_style_chosen, #form-item-field-attribute-tr-tid {
        width: 48%;
    }
    .form-item-field-geographic-tr-tid, .form-item-major-style, .form-item-field-attribute-tr-tid, .form-item-minor-style {
        width: 48%;
        display: inline-block;
        text-align: center;
        .chosen-container {
            max-width: 100%;
        }
    }
    ul.chosen-choices {
        height: 24px;
    }
    #edit-field-major-minor-style-tr-tid-select-1 {
        border: solid 1px $border-blue;
        height: 24px;
        padding: 0 0 2px 0;
    }
}
/*** RFPs List ***/
#views-exposed-form-content-lists-rfps-list {
    .form-item-field-account-size-value-min, .form-item-field-account-size-value-max {
        display: inline-block;
        text-align: center;
        height: 24px;
        label {
            width: auto;
            margin: 0 5px;
            padding-bottom: 3px;
        }
    }
    #edit-field-account-size-value-min, #edit-field-account-size-value-max {
        width: 64px;
        height: 22px;
        line-height: 22px;
        border: solid 1px $border-blue;
    }
    #edit-container-container-3 {
        .fieldset-wrapper {
            padding: 0;
            margin-bottom: 10px;
        }
        .form-item-field-plan-er-target-id-selective::after {
            content: "Mandate Size";
            font-weight: bold;
            display: block;
            width: auto;
            //text-align: left;
            padding: 5px 0 0 0;
        }
    }
    #edit-container-container-5 {
        .shs-select {
            border: solid 1px $border-blue;
            height: 24px;
            padding: 0 0 3px 0;
        }
    }
}
/*** Consultants List ***/
#views-exposed-form-content-lists-consultants-list {
    #edit-container-container-2 {
    display: inline-block;
    width: 99%;
    text-align: center;
    margin: 10px auto;
    }
    #edit-container-container-3, #edit-container-container-4, #edit-container-container-6 {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 26%;
        //padding:0 10px;
        legend {
            border: solid 1px $header;
            color: #ccc;
        }
        .fieldset-wrapper {
            padding:  0 10px;
        }
        .form-item label {
            margin-bottom: 0;
            margin-top: 5px; 
        }
    }
    #edit-container-container-3 {
        margin: 0 5px 10px 0;
    }
    #edit-container-container-4 {
        margin-bottom: 0 5px 10px 5px;
    }
    #edit-container-container-6 {
        margin: 0 0 10px 5px;
    }
    #edit-container-container-7 {
        width: 100%;
        margin: 0;
        position: relative;
    }
}
/*** Consultant Contacts List ***/
#views-exposed-form-content-lists-consultant-contacts {
    #edit-container-container-3 {
    display: inline-block;
    max-width: 99%;
    text-align: center;
    margin: 10px auto;
    }
    #edit-container-container-4, #edit-container-container-5, #edit-container-container-6 {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 30%;
        legend {
            border: solid 1px $header;
            color: #ccc;
        }
        .fieldset-wrapper {
            padding:  0 10px;
        }
        .form-item label {
            margin-bottom: 0;
            margin-top: 5px; 
        }
    }
    #edit-container-container-4 {
        margin: 0 10px 5px 0;
        .fieldset-wrapper label {
            padding-left: 14px;
        }
    }
    #edit-container-container-5 {
        margin-bottom: 0 5px 10px 5px;
    }
    #edit-container-container-6 {
        margin: 0 0 10px 5px;
    }
    #edit-container-container-7 {
        width: 100%;
        margin: 0;
        position: relative;
        background: none;
        .fieldset-wrapper {
            padding: 0;
        }
    }
}
/*** Managers List ***/
#views-exposed-form-content-lists-managers-list {
    #edit-container-container-2 {
        width: 99%;
    }
}
/*** Manager of Managers List ***/
#views-exposed-form-content-lists-manager-of-managers {
    #edit-container-container-3 {
    display: inline-block;
    max-width: 99%;
    text-align: center;
    margin: 10px auto;
    }
    #edit-container-container-4, #edit-container-container-5, #edit-container-container-6 {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 27%;
        //padding:0 10px;
        legend {
            border: solid 1px $header;
            color: #ccc;
        }
        .fieldset-wrapper {
            padding:  0 10px;
        }
        .form-item label {
            margin-bottom: 0;
            margin-top: 5px; 
        }
    }
    #edit-container-container-4 {
        margin: 0 10px 10px 0;
    }
    #edit-container-container-5 {
        margin-bottom: 0 0 10px 0;
    }
    #edit-container-container-6 {
        margin: 0 0 10px 10px;
    }
    #edit-container-container-7 {
        width: 100%;
        margin: 0;
        position: relative;
    }
    .form-item-field-address-locality-selective label {
        padding-left: 15px;
    }
    .form-item-field-address-administrative-area-selective label {
        padding-left: 15px;
    }
}
/*** News List ***/
#views-exposed-form-content-lists-news-list {
    #edit-container-container-3 {
        #edit-title-field-value {
            width: 220px;
        }
    }
    #edit-container-container-3 {
        ul.chosen-choices {
            width: 220px;
        }
    }
    #edit-container-container-5 {
        .fieldset-wrapper::before {
            content: "Date";
            font-weight: bold;
            display: block;
            width: auto;
            //text-align: left;
            padding: 5px 0 0 10px;
        }
    #edit-field-date-value-min-wrapper, #edit-field-date-value-max-wrapper {
        width: 49%;
        display: inline-block;
        text-align: center;
        padding: 0 10px;
    }
    #edit-field-date-value-min-inside-wrapper, #edit-field-date-value-max-inside-wrapper {
        .form-item label {
            margin-top: 0;
        }
    }
    #edit-field-date-value-min-datepicker-popup-0, #edit-field-date-value-max-datepicker-popup-0 {
        display: inline-block;
        text-align: center;
        max-width: 90px;
        height: 22px;
        line-height: 22px;
        margin: 0;
    }
        .form-item label {
            margin-top: 0;
        }
    }
}
/*** Map Search ***/
#views-exposed-form-map-views-map-search {
    .form-text {
        max-width: 250px;
    }
    .form-item label {
        display: block;
    }
    #edit-container-container-2 {
        display: inline-block;
        max-width: 99%;
        text-align: center;
        margin: 10px auto;
    }
    #edit-container-container-3, #edit-container-container-4, #edit-container-container-5 {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        //width: 30%;
        //background: $form-item-active-blue;
        legend {
            border: solid 1px $header;
            color: #ccc;
        }
        .fieldset-wrapper {
            padding:  0 10px 10px 10px;
        }
        .form-item label {
            margin-bottom: 0;
            margin-top: 5px; 
        }
    }
    #edit-container-container-3 {
        margin: 0 10px 10px 0;
        width: 30%;
    }
    #edit-container-container-4 {
        margin-bottom: 0 0 10px 0;
        width: 30%;
    }
    #edit-container-container-5 {
        margin: 0 0 10px 10px;
        width: 30%;
    }
    #edit-container-container-6 {
        width: 100%;
        margin: 0;
        position: relative;
    }
    .form-item-title{
        #edit-title {
            margin-bottom: 0;
        }
    }
    .form-item-field-address-administrative-area, .form-item-field-address-postal-code {
        width: 43%;
        display: inline-block;
        text-align: center;
        margin: 0 5px;
    }
    #edit-field-address-administrative-area, #edit-field-address-postal-code {
        width: 100%;
        margin-bottom: 0;
    }
    .form-type-geofield-proximity {
        width: auto;
        display: inline-block;
        text-align: center;
        margin-right: 0;
        margin: 0 auto;
        label {
            width: auto;
            display: block;
            text-align: center;
        }
    }
    #edit-field-geofield-distance {
        width: 250px;
        position: relative;
        margin: 0 auto;
    }
    .form-item-field-geofield-distance-distance {
        width:20%;
        display: inline-block;
        text-align: center;
        padding-top: 3px;
    }
    #edit-field-geofield-distance-distance {
        width: 100%;
        text-align: center;
    }
    .form-item-field-geofield-distance-unit {
        display: inline-block;
        text-align: center;
        float: left;
        width: 50%;
    }
    #edit-field-geofield-distance-unit {
        height: 24px;
        border: solid 1px $border-blue;
    }
    #edit_field_geofield_distance_unit_chosen {
        display: inline-block;
        width: 100% !important;
    }
    #edit-field-geofield-distance-origin {
        width: 95%;
        display: inline-block;
        text-align: center;
        float: left;
    }
}
/*** Plan - Manager Roster **/
#views-exposed-form-reference-views-block-1 {
    #edit-container-container-2 {
        display: inline-block;
        max-width: 99%;
        text-align: center;
        margin: 10px auto;
    }
    #edit-container-container-3, #edit-container-container-4, #edit-container-container-5 {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 30%;
        legend {
            border: solid 1px $header;
            color: #ccc;
        }
        .fieldset-wrapper {
            //padding:  0 10px 10px 10px;
        }
        .form-item label {
            margin-bottom: 0;
            margin-top: 5px; 
        }
    }
    #edit-container-container-3 {
        margin: 0 10px 10px 0;
    }
    #edit-container-container-4 {
        margin-bottom: 0 0 10px 0;
    }
    #edit-container-container-5 {
        margin: 0 0 10px 10px;
    }
    #edit-container-container-6 {
        width: 100%;
        margin: 0;
        position: relative;
    }
    ul.chosen-choices {
        height: 24px;
    }
    #edit-field-major-minor-style-tr-tid-select-1 {
        border: solid 1px $border-blue;
        height: 24px;
        padding: 0 0 2px 0;
    }
}

/*** Plan Mandates ***/
#views-exposed-form-plan-mandates-plan-mandates {
    #edit-container-container-2 {
        display: inline-block;
        max-width: 99%;
        text-align: center;
        margin: 10px auto;
    }
    #edit-container-container-3, #edit-container-container-4, #edit-container-container-5 {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 30%;
        legend {
            border: solid 1px $header;
            color: #ccc;
        }
        .fieldset-wrapper {
            //padding:  0 10px 10px 10px;
        }
        .form-item label {
            margin-bottom: 0;
            margin-top: 5px; 
        }
    }
    #edit-container-container-3 {
        margin: 0 10px 10px 0;
    }
    #edit-container-container-4 {
        margin-bottom: 0 0 10px 0;
    }
    #edit-container-container-5 {
        margin: 0 0 10px 10px;
    }
    #edit-container-container-6 {
        width: 100%;
        margin: 0;
        position: relative;
    }
    ul.chosen-choices {
        height: 24px;
    }
    #edit-field-major-minor-style-tr-tid-select-1 {
        border: solid 1px $border-blue;
        height: 24px;
        padding: 0 0 2px 0;
    }
}

/*** Consultant - Contacts ***/
#views-exposed-form-reference-views-consultant-contacts {
    #edit-container-container-4 {
        display: inline-block;
        width: 60%;
        text-align: center;
        margin: 10px auto;
    }
    #edit-container-container-5 {
        display: inline-block;
        text-align: center;
        width: 43%;
        margin: 0;
        legend {
            border: solid 1px $header;
            color: #ccc;
        }
        .fieldset-wrapper {
            padding:  0 10px 10px 10px;
        }
        .form-item label {
            margin-bottom: 0;
            margin-top: 5px; 
        }
    }
    #edit-container-container-6 {
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        width: 40%;
        min-width: 30%;
        margin: 0;
        background: none;
    }
}

/*** Consultant - IMR Contacts ***/
#views-exposed-form-reference-views-consultant-imr-contacts {
    #edit-container-container-3 {
        display: inline-block;
        width: 60%;
        text-align: center;
        margin: 10px auto;
    }
    #edit-container-container-4 {
        display: inline-block;
        text-align: center;
        width: 43%;
        margin: 0;
        legend {
            border: solid 1px $header;
            color: #ccc;
        }
        .fieldset-wrapper {
            padding:  0 10px 10px 10px;
        }
        .form-item label {
            margin-bottom: 0;
            margin-top: 5px; 
        }
    }
    #edit-container-container-5 {
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        width: 40%;
        min-width: 30%;
        margin: 0;
        background: none;
    }
}

/*** Consultant Mandate Assignments ***/
#views-exposed-form-reference-views-consultant-mandates {
    #edit-container-container-2 {
        display: inline-block;
        max-width: 99%;
        text-align: center;
        margin: 10px auto;
    }
    #edit-container-container-3, #edit-container-container-4, #edit-container-container-5 {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 30%;
        legend {
            border: solid 1px $header;
            color: #ccc;
        }
        .fieldset-wrapper {
            //padding:  0 10px 10px 10px;
        }
        .form-item label {
            margin-bottom: 0;
            margin-top: 5px; 
        }
    }
    #edit-container-container-3 {
        margin: 0 10px 10px 0;
        .form-item-title-field-value label {
            display: block;
        }
    }
    #edit-container-container-4 {
        margin-bottom: 0 0 10px 0;
    }
    #edit-container-container-5 {
        margin: 0 0 10px 10px;
    }
    #edit-container-container-6 {
        width: 100%;
        margin: 0;
        position: relative;
    }
    ul.chosen-choices {
        height: 24px;
    }
    #edit-field-major-minor-style-tr-tid-select-1 {
        border: solid 1px $border-blue;
        height: 24px;
        padding: 0 0 2px 0;
    }
}

/*** Manager - Mandate Assignments ***/
#views-exposed-form-reference-views-manager-mandates {
    #edit-container-container-2 {
    display: inline-block;
    max-width: 99%;
    text-align: center;
    margin: 10px auto;
    }
    #edit-container-container-3, #edit-container-container-4, #edit-container-container-5 {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 30%;
        //background: $form-item-active-blue;
        legend {
            border: solid 1px $header;
            color: #ccc;
        }
        .fieldset-wrapper {
            padding:  0 10px 10px 10px;
        }
        .form-item label {
            margin-bottom: 0;
            margin-top: 5px; 
        }
    }
    #edit-container-container-3 {
        margin: 0 10px 0 0;
    }
    #edit-container-container-4 {
        margin-bottom: 0 0 0 0;
    }
    #edit-container-container-5 {
        margin: 0 0 0 10px;
    }
    #edit-container-container-6 {
        width: 100%;
        margin: 0;
        position: relative;
    }
    .form-type-select label {
        padding-left: 20px;
    }
    #edit-field-date-value-min-wrapper, #edit-field-date-value-max-wrapper {
        width: 49%;
        display: inline-block;
        text-align: center;
        padding: 0 10px;
    }
    .form-item-field-account-size-value-min::before {
        content: "Mandate Size";
        font-weight: bold;
        display: block;
        width: auto;
        //text-align: left;
        padding: 5px 0 0 0;
    }
    #edit-field-date-value-min-inside-wrapper, #edit-field-date-value-max-inside-wrapper {
        .form-item label {
            margin-top: 0;
        }
    }
    .form-item-field-mandate-status-tr-tid {
        //text-align: left;
        padding-left: 12px;
        ul.chosen-choices {
            margin-bottom: 10px;
        }
    }
    .form-item-field-mandate-status-tr-tid:after {

    }
    .form-item-field-mandate-status-tr-tid-selective label {
        padding-left: 5px;
    }
    .form-item-field-mandate-status-tr-tid::after {
        content: "Date";
        font-weight: bold;
        width: 100%;
        padding: 0 0 0 5px;
    }
    #edit-field-date-value-min-datepicker-popup-0, #edit-field-date-value-max-datepicker-popup-0 {
        display: inline-block;
        text-align: center;
        max-width: 90px;
        height: 22px;
        line-height: 22px;
        margin: 0;
    }
    .form-item-field-account-size-value-min, .form-item-field-account-size-value-max {
        display: inline-block;
        text-align: center;
        height: 24px;
        label {
            width: auto;
            margin: 0 5px;
            padding-bottom: 3px;
        }
    }
    #edit-field-account-size-value-min, #edit-field-account-size-value-max {
        width: 84px;
        height: 22px;
        line-height: 22px;
        border: solid 1px $border-blue;
    }
    .form-item-field-plan-er-target-id-selective label, .form-item-field-consultant-firm-er-target-id-selective label {
        padding-left: 10px;
    }
    #edit_field_geographic_tr_tid_selective_chosen, #form-item-field-attribute-tr-tid-selective, #edit_major_style_chosen, #form-item-field-attribute-tr-tid-selective {
        width: 48%;
        .form-type-select label {
            padding-left: 0;
        }
    }
    .form-item-field-geographic-tr-tid-selective, .form-item-major-style, .form-item-field-attribute-tr-tid-selective, .form-item-minor-style {
        width: 48%;
        display: inline-block;
        text-align: center;
        .chosen-container {
            max-width: 100%;
        }
    }
    .form-item-field-geographic-tr-tid-selective label, .form-item-major-style label, .form-item-field-attribute-tr-tid-selective label, .form-item-minor-style label {
        padding-left: 0;
    } 
}
/*** Manager - Clients ***/
#views-exposed-form-reference-views-manager-plans {
    #edit-container-container-2 {
    display: inline-block;
    max-width: 99%;
    text-align: center;
    margin: 10px auto;
    }
    #edit-container-container-3, #edit-container-container-4, #edit-container-container-5 {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 30%;
        //background: $form-item-active-blue;
        legend {
            border: solid 1px $header;
            color: #ccc;
        }
        .fieldset-wrapper {
            padding:  0 10px 10px 10px;
        }
        .form-item label {
            margin-bottom: 0;
            margin-top: 5px; 
        }
    }
    #edit-container-container-3 {
        margin: 0 10px 10px 0;
    }
    #edit-container-container-4 {
        margin-bottom: 0 0 10px 0;
    }
    #edit-container-container-5 {
        margin: 0 0 10px 10px;
    }
    #edit-container-container-6 {
        width: 100%;
        margin: 0;
        position: relative;
    }
    .form-item-field-plan-size-value-min, .form-item-field-plan-size-value-max {
        display: inline-block;
        text-align: center;
        height: 24px;
        margin: 10px 0 0 0;
        label {
            width: auto;
            margin: 0 5px;
            padding-bottom: 3px;
        }
    }
    #edit-field-plan-size-value-min, #edit-field-plan-size-value-max {
        width: 64px;
        height: 22px;
        border: solid 1px $border-blue;
    }
    #edit-container-container-3 {
        .form-item-field-plan-size-value-min, .form-item-field-plan-size-value-max {
            margin: 0;
        }
        .form-item-title::after {
            content: "Plan Size";
            font-weight: bold;
            display: block;
            width: auto;
            //text-align: left;
            padding: 5px 0 0 0;
        }
    }
    #edit-container-container-5 {
        #edit-field-major-minor-style-tr-tid-select-1 {
            border: solid 1px $border-blue;
            height: 24px;
            padding: 0 0 2px 0;
        }
    }
}
/*** Manager - Mandate Assignments ***/
.view-display-id-manager_mandates {
    #edit-field-major-minor-style-tr-tid-select-1 {
        border: solid 1px $border-blue;
        height: 24px;
        padding: 0 0 2px 0;
    }
}

/********** Buttons **********/
.btn {
    background: $dark-button;
    :hover {
        background: $fin-navy; //Doesn't work, investigate
    }
}
legend {
    padding: 5px;
    background: $header;
}
button.form-reset {
    vertical-align: bottom;
    background: $dark-button;
    color: $white;
    padding: 4px 16px;
    margin-left: 10px;
}
#save-search-trigger {
    background: $dark-button;
    vertical-align: middle;
    padding: 4px 16px;
    margin: 0 0 0 10px;
    color: $white;
}
.views-exposed-form {
    .views-exposed-widget {
        padding: 0;
        .form-submit {
            margin-top: 0;
        }
    }
    #edit-items-per-page {
        vertical-align: none;
        margin-bottom: 0;
    }
    #edit-submit-content-lists {
        margin-top: 0;
        margin-left: 10px;
    }
    button.form-reset {
        vertical-align: middle;
    }
}

/********** Tables **********/
table.views-table {
    width: 100%;
}
tbody {
    border-top: none;
}
th {
    border-bottom: none;
}
th.views-field {
    padding: 0 5px;
}
td.views-field {
    padding: 0 5px;
}
td.views-field-field-cover-image img {
    max-width: none !important;
}
tr.odd {
    background-color: $form-item-odd-blue;
    border: none;
}
tr.even {
    background-color: $form-item-even-blue;
    border: none;
}
tr.odd td.active {
    background-color: $form-item-odd-blue;
}
tr.even td.active {
    background-color: $white;   
}

/********** Accordion **********/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: $form-background-blue;
    border: none;
}
.ui-accordion {
    .ui-accordion-header .ui-accordion-header-icon {
        left: 0.1em;
    }
    .ui-accordion-icons {
        padding-left: 1.8em;
    }
    .ui-accordion-icons {
        padding-left: 1.4em;
    }
    .ui-accordion-content {
        padding: 0.5em 1em;
    }
}
.ui-corner-all {
    border-radius: 0;
}
.ui-widget-content {
    border: none;
}

/********** Widgets **********/
.view-views-search {
    .view-content {
        display: none;
    }
    .pager {
        display: none;
    }
}

/********** Nodes **********/
legend {
    margin-bottom: 0;
}
body.node-type-plan {
    #block-system-main {
        .ds-below-right.seventy {
            width: 60%;
            .view-display-id-eva_asset_allocation_chart {
                height: 300px;
                width: 100%;
                .view-content {
                    height: 100%;
                    .pie-chart {
                        height: 100%;
                        #aa-chart {
                            height: 100%;
                        }
                    }
                }
            }
        }
        .ds-below-left.thirty {
            width: 40%;
        }  
    }
}
.breadcrumb {
    background-color: #fff; }
.page-node .collapsiblock .views-table a:not(.contextual-links-trigger) {
    background: none;
    color: #1368a6;
    display: inline; }
.ds-middle, .ds-below-left, .ds-footer {
    .view.collapsiblock {
        background-color: #fff;
    }
}
.page-node ul.links {
    margin-bottom: 20px;
}
.view-foia-history {
    margin-bottom: 20px;
}
/*** Plans ***/
.field-name-plan-potential-leads-mandates-bf, .field-name-plan-new-leads-mandates-bf, .field-name-plan-ongoing-mandates-bf, .field-name-plan-completed-mandates-bf, .field-name-plan-closed-mandates-bf {
    margin: 0;
    .content {
        padding: 0 0 0 10px;
    }
}
/*** Contacts ***/
.node-type-contact {
    .group-left {
        width: 38%;
        padding: 10px;
    }
    /*.group-middle {
        width: 39%;
        padding: 10px;
        margin: 0 10px;
    }  -- Deprecated when layout changed to 2-columns */ 
    .group-right {
        width: 50%;
        padding: 0;
        background: none;
    }
    .group-footer {
        background: none;
        padding-top: 30px;
    }
}
/*** Mandates ***/
.node-type-mandate {
    .ds-above-left, .ds-below-left {
        padding: 0 10px 0 0;
        margin-bottom: 0;
    }
    .ds-above-right, .ds-below-right {
        padding: 0;
        margin-bottom: 0;
    }
    .group-mandate-info, .field-name-mandate-plan-info-bf {
        height: 200px;
        background: $form-background-blue;
    }
}
/*** Consultant Firms ***/
.node-type-consultant-firm {
    .ds-above-left .field-type-ds {
        margin: 0 !important;
    }
    .ds-above-right .field-type-ds {
        margin: 0 !important;
    }
    .field-name-consultant-main-office-bf {
        background: $form-background-blue;
    }
}
/*** Office ***/
.node-office .ds-above-right .content {
    padding: 0;
}
/*** News ***/
.node-type-news {
    .field-label {
        margin-right: 5px;
    }
    .field-name-field-manager-firm-er, .field-name-field-consultant-firm-er, .field-name-field-plan-er {
        .field-label {
            font-weight: normal;
        }
    }
}

/********** Entityforms **********/
#fin-info-1, #fin-info-2, #fin-info-3 {
  width: 33%;
  float: left;
  margin: 0 0 30px 0;
}
.page-eform-submit {
    .group-left, .group-middle, .group-right, .group-footer {
    background: $form-item-active-blue;
    padding-left: 10px;
    padding-right: 10px;
    }
}
.group-footer {
  padding-bottom: 10px;
}

/********** Resources **********/
#block-fin-utils-saved-filters, #block-fin-utils-saved-searches, #block-fin-utils-subscriptions {
    margin-bottom: 30px;
}
#block-fin-utils-messages {
    margin-bottom: 30px;
    fieldset.collapsed {
        height: auto;
    }
    .privatemsg-filter-actions {
        input.form-submit {
            margin-right: 10px;
        }
    }
}
/*** Resources Page ***/
.page-node-6806 {
    td, th {
        padding: 0 10px;
    }
    input[type="radio"], input[type="checkbox"] {
        vertical-align: middle;
        margin: 0;
    }
    #block-fin-utils-messages {
        #edit-filter {
            background-color: $form-background-blue;
            margin: 0 10px 10px 10px;
            .fieldset-wrapper {
                padding: 0 10px;
            }
            .fieldset-legend {
                a.fieldset-title {
                    color: $white;
                    &:hover {
                        color: $link-hover;
                    }
                }

            }
            .form-item-search, .form-item-author {
                display: inline-block;
                margin: 10px;
            }
            #edit-actions--2 {
                margin: 0 0 10px 0;
            }
        }
        #privatemsg-list-form {
            background-color: $white;
        }
    }
}
/*** Messages Page ***/
.page-messages {
    #privatemsg-list-form {
        .container-inline {
            margin-bottom: 10px;
        }
    }
    #privatemsg-list {
        #edit-filter {
            background-color: $form-background-blue;
            legend {
                background-color: $fin-navy;
            }
           .fieldset-wrapper {
                padding: 0 10px;
            }
            a.fieldset-title {
                margin-left: 5px;
                color: $white;
                &:hover {
                    color: $link-hover;
                }
            }
            .form-item-search, .form-item-author {
                display: inline-block;
                margin-left: 10px;
            }
            #edit-actions--2 {
                margin: 0 0 10px 0;
            }
            #edit-submit--2 {
                margin-right: 10px;
            }
        }
    }
}
.privatemsg-message-column {
    float: none;
}
#privatemsg-list-form .privatemsg-list {
    width: 100%;
}
.privatemsg-list td {
    padding: 0 5px;
}
.privatemsg-list th {
    padding: 0 5px;
}
.privatemsg-list tr.odd {
    background-color: $form-item-odd-blue;
    border: 1px solid $background;
}
.privatemsg-list tr.even {
    background-color: $form-item-even-blue;
    border: 1px solid $background;
}
.privatemsg-list {
    tr.odd td.active, tr.even td.active {
        background-color: $form-item-active-blue;
    }
}
.privatemsg-list .form-checkbox {
    margin-top: -1px;
}
#privatemsg-list span.fieldset-legend a {
    color: #aaa;
}
#subscriptions-ui-node-form {
    .sticky-table {
        margin-bottom: 5px;
    }
}
#block-subscriptions-ui-0 {
    background: $header;
    tr.odd, tr.even {
        background-color: $form-background-blue;
        #edit-subscriptions-1, #edit-subscriptions-2 {
            margin: 0 5px;
            vertical-align: middle;
        }
    }
    .btn {
        background: $dark-button;
    }
}
.block-subscriptions-ui {
  padding: 0 !important;
  #subscribe {
    height: auto;
    legend {
      border-bottom: none;
      margin: 0;
      padding: 4px 0 4px 5px;
      background: $header;
      .fieldset-legend {
        background: none;
        background-image: none;
        padding: 0;
      }
    }
    .fieldset-wrapper {
      background: $form-background-blue;
      padding: 10px;
    }
  }
}
#block-subscriptions-ui-0 {
    margin-bottom: 15px;
}
#subscriptions-page-user-overview, #subscriptions-page-form, .page-user-saved-searches {
    td, th {
        padding: 5px;
    }
}
.page-user-subscriptions {
    fieldset.collapsible {
        margin-bottom: 30px;
    }
    #edit-suspend {
        span.fieldset-legend {
            margin-left: 5px;
        }
        .fieldset-wrapper {
            background: $form-background-blue;
            padding: 10px 0;
            .form-item-state {
                margin-top: 0;
                margin-left: 15px;
            }
        }
    }
    #edit-settings {
        background: $form-background-blue;
        span.fieldset-legend {
            margin-left: 5px;
        }
        #edit-save-settings, #edit-reset {
            margin-bottom: 10px;
        }
        .form-item-autosub-comment, .form-item-sendself, .form-item-send-comments, #edit-visibility {
            display: none;
        }
        #edit-autosub {
            display: none;
            margin-left: 15px;
            .fieldset-wrapper {
                padding: 10px 10px 0 10px;
            }
            span.fieldset-legend {
                margin-left: 5px;
                color: $white;
                text-transform: capitalize;
            }
        }
        .form-item-digest {
            margin-top: 15px 0 0 15px;
            padding: 0 10px 10px 10px;
        }
        #edit-preferences {
            margin: 0 15px;
            span.fieldset-legend {
                margin-left: 5px;
                color: $white;
                text-transform: capitalize;
            }
            .fieldset-wrapper {
                padding: 10px;
                .form-item-send-interval {
                    margin-top: 0;
                }
            }
        }
    }
    input[type="checkbox"] {
        margin: 0 5px 0 0;
    }
}
span.fieldset-legend a {
    background-color: $header;
}
#edit-autosub {
    margin: 15px 0 0 0;
}
#edit-submit, #edit-save-settings, #edit-save-notifications, #edit-reset {
    background-color: $fin-blue;
    padding: 4px 6px;
    margin: 0 10px;
}
#user-tasks-table {
    table {
        width: 100%;
        thead {
            th {
                padding: 0 5px;
            }
        }
        td {
            padding: 0 5px;
        }
        td:nth-child(5) {
            min-width: 90px;
        }
        td:nth-child(6) {
            //width: 250px;
        }
        td:nth-child(7) {
            //width: 20px;
            //padding: 0 2px;
            text-align: center;
        }
    }
}
#block-fin-utils-messages {
    #privatemsg-list-form{
        .container-inline {
            margin: 0 0 10px 0;
        }
        .btn-danger {
            box-shadow: none;
        }
    }
    table.privatemsg-list {
        th.select-all {
            text-align: center;
        }
    }
}
.page-user-saved-searches {
    #saved-searches-header {
        color: $white;
        padding-left: 10px;
    }
}

/********** Advanced Search **********/


/********** Chosen Widget Fix **********/
.chosen-container {
    width: 220px !important;
}
