/**
 *SCSS file for custom styling
 */

/**
 *Import other sheets
 **/
@import "_modals.scss";
@import "pages/_advanced_search.scss";

/********** Color Variables **********/

/* FIN */
$fin-blue: #1368a6;
$fin-navy: #142a45;

/* Page */
$background: #ffffff;
$blue-black: #000033;
$dark-blue: #003366;
$text: #666666;
$header: #000000;
$white: #ffffff; // Cuz you just need white sometimes

/* Borders */
$border-blue: #689afd;

/* Form Elements */
$form-background-blue: #e7efff;
$fieldset-background-blue: #bad0fd;
$fieldset-label-background-blue: #689afd;
$form-item-odd-blue: #e7efff;
$form-item-even-blue: #ffffff;
$form-item-active-blue: #d4e2fe;

/* Buttons*/
$dark-button: #1368a6;

/* Text */
$link: #003399;
$link-hover: #0058ff;
$form-item-label: #000000;

/* Misc */
$shadow: #666666;


/********** Addressfield country fix **********/
.field-type-addressfield {
    .addressfield-container-inline {
    }
    .country {
        margin: 0;
        display: block;
    }
}

/********** Menu **********/
#section-header {
    .container {
        background-color: $header;
    }
    .dexp-dropdown {
        ul.menu ul.menu li, ul.menu .dexp-menu-mega li {
            border-top: 1px solid $header;
        }
        ul.menu ul.menu li a, ul.menu ul.menu li span.nolink, ul.menu .dexp-menu-mega li a, ul.menu .dexp-menu-mega li span.nolink {
            color: $white;
            font-weight: bold;
        }
        ul.menu ul.menu li span.nolink:hover, ul.menu ul.menu li span.nolink.active, ul.menu .dexp-menu-mega li a:hover, ul.menu .dexp-menu-mega li a.active, ul.menu .dexp-menu-mega li span.nolink:hover, ul.menu .dexp-menu-mega li span.nolink.active {
            background-color: $header;
            color: $white;
        }
        ul.menu li a:hover {
            background-color: $fin-blue;
        }
        ul.menu li a.active, {
            background-color: $fin-blue;
        }
        ul.menu ul.menu li, .dexp-dropdown ul.menu .dexp-menu-mega li {
            background: $fin-blue;
        }
        ul.menu ul.menu li.first, ul.menu .dexp-menu-mega li.first {
            border-top: solid 1px $header;
        }
        ul.menu ul.menu li a.active {
            background: $fin-blue;
            color: $white;
        }
        ul.menu ul.menu li a:hover {
            background: $header;
            color: $white;
        }
    }
    .dexp-dropdown > ul > li {
        border-left: none;
        border-right: none;
    }
    .dexp-dropdown > ul > li > a, .dexp-dropdown > ul > li > span.nolink {
        border-bottom-style: none;
        font-weight: bold;
    }
    .dexp-dropdown > ul li > ul, .dexp-dropdown > ul li > .dexp-menu-mega {
        border-top: none;
    }
}

/********** Sections **********/
#section-top-bar {
    padding: 5px;
    .region-top-right {
        .block {
            float: none;
            text-align: right;
        }
        .block-search-api-page {
            div.form-type-textfield {
                display: inline-block;
                vertical-align: top;
            }
            input.btn-primary {
                display: inline-block;
                vertical-align: top;
                margin: 15px 0 0 0;
            }
            .btn.form-submit {
                background: $dark-button;
            }
        }
    }
}
#section-header {
    background: $header;
    .btn {
        background: $dark-button;
    }
}
#section-main-content {
    padding: 0 0 30px 0;
}
.ds-header li.comment-add {
    display: none;
}

/********** Blocks **********/
h3.block-title {
    font-size: 21px;
    padding: 2px 0;
    a {
        background: none;
    }
    position: relative;
    margin: 0;
    background: $header;
}
#block-system-main {
    div.field-type-ds {
        margin: 0 0 25px 0;

        &.field-name-modal-contact-link,
        &.field-name-modal-mandate-link,
        &.field-name-modal-plan-link{
            margin-top: -23px;
            margin-bottom:25px;
        }
    }
}
span.fieldset-legend {
    text-transform: uppercase;  
}
.collapsiblock a {
    color: $background;
    margin: 0 0 0 5px;
}
.block-views {
    //margin: 30px 0 0 0;
    margin:  0;
    padding: 0;
}
#block-views-a9706a0c2bd6ed2ad2a9fb0317b34834 {
    margin: 30px 0 0 0;
}
#block-user-online .content {
    background: $form-background-blue;
    padding: 10px;
}
.item-list ul {
    text-align: left;
}
.field-name-plan-new-leads-mandates-bf .block-views {
    margin: 5px 0 0 0;
}.field-name-plan-ongoing-mandates-bf .block-views {
    margin: 5px 0 0 0;
}.field-name-plan-completed-mandates-bf .block-views {
    margin: 5px 0 0 0;
}.field-name-plan-closed-mandates-bf .block-views {
    margin: 5px 0 0 0;
}

/********** Content **********/
body.boxed {
    background: #1368a6; /* Old browsers */
    background: -moz-linear-gradient(top,  #1368a6 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1368a6 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1368a6 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1368a6', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.page-node-3702, .page-node-3704, .page-node-3705, .page-node-3706, .page-node-3707, .page-node-3710, .page-node-6806, .page-node-3711 {
    #page-title {
        display: none; // Removes titles from these site pages
    }
}
body {
    font-family: "Lato Regular Web" !important;
}
h2.title {
    margin: 30px 0 0 0;
}
.content legend {
/*    margin-top: 10px;
    margin-bottom: 10px; */
}
.field-name-field-photo .field-item {
    text-align: center;
}
.chosen-container {
    max-width: 250px;
}
.chosen-container-multi .chosen-choices {
    border: 1px solid $border-blue;
    max-width: 250px;
}
.btn.form-submit {
    background: $dark-button;
}

/********** Display Suite **********/
.ds-header {
    padding: 0 0 30px 0;
}

#block-system-main {
    h3.block-title {
        padding: 4px 0 4px 15px;
        font-size: 21px;
    }
}
.ds-above-left, .ds-above-right, .group-mandates {
    padding: 0 10px 10px 0;
    margin-bottom: 15px;
    .fieldset-wrapper,
    .content {
        padding: 0 0 10px 10px;
    }
    .field-group-fieldset,
    .field-name-mandate-plan-info-bf{
        background: $form-background-blue;
        .field-label,
        .field-content strong{
            padding-right:0.25em;
        }
        legend {
            padding: 5px 0;
            background: $header;
            .btn {
                background: $dark-button;
            }
            span.fieldset-legend {
                color: $background;
                background: none;
                padding: 4px 0 4px 20px;
                font-size: 21px;
                a.fieldset-title {
                    margin: 10px 0;
                }
            }
        }
    }
}
.ds-middle legend {
    background: $header;
    padding: 5px 0;
}
.ds-above-right {
    padding: 0 0 10px 10px;
}
.ds-below-left, .ds-below-right {
    padding: 0 10px 25px 0;
}
.ds-below-left, .ds-middle {
    h2.title {
        margin-top:0px;
    }
}
.ds-below-right {
    padding: 0 0 25px 10px;
}
.ds-footer {
    //Have to use padding because of floats
    padding: 0 0 0 0;
}

ul.links {
    float: right;
    margin: 0;
}

/********** Views **********/
.view-id-extra_views {
    .views-accordion-header {
        .field-content {
            font-family: "Lato Regular Web" !important;
            font-size: 14px;
        }
    }
    .ui-accordion-content {
        .recent-actions {
            display: inline-block;
            margin: 0 10px 0 0;
        }
    }
    .item-list {
        margin: 5px 0 4px 0;
    }
}
.view-views-search {
    .view-content {
        display: none;
    }
    .pager {
        display: none;
    }
}
.views-submit-button {
    button.my-views-filter-reset {
        position: relative;
        top: 11px;
        left: 10px;
    }
}
.view-comment-views {
    th.views-field-edit-comment {
        width: 70px;
        padding: 0;
    }
    td.views-field-edit-comment {
        padding: 0;
        a {
            margin: 0;
        }
        div.magical-modal-link {
            display: inline-block;
            margin: 0 5px 0 0;
        }
    }
}
span.fieldset-legend {
    //padding: 0 0 10px 0;
    padding: 0;
    //margin: 0 0 0 5px;
    margin: 0;
    a {
        color: $background;
    }
}
fieldset.collapsible .fieldset-legend {
    //margin: -5px 0 0 0;
}
.view-content-lists, .view-reference-views {
    th.views-field-edit-node, td.views-field-view-node {
        width: 70px;
    }
    td.views-field-edit-node, td.views-field-view-node {
        padding: 0;
        a {
            margin: 0 5px;
        }
    }
    td.views-field-field-tasks {
        .tasks {
            display: block;
            position: absolute;
            left: 10%;
            width: 80%;
            border: 2px solid #000;
            border-radius: 10px;
            padding: 5px;
            top: 60px;
            background-color: #FFF;
            z-index: 10;
            &.closed {
                display: none;
            }
            .close {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}
.attachment-after {
    text-align: center;
}
.view-display-id-attachment_1 {
    display: inline-block;
}
.view-footer {
    margin-top: 10px;
}

/********** Exposed Filters **********/
html.js fieldset.collapsible .fieldset-legend {
    padding-left: 0;
}
.view-filters {
    background-color: $form-background-blue;
    color: $fin-blue;
    .btn {
        background: $dark-button;
        :hover {
            background: $fin-navy; //Doesn't work, investigate
        }
    }
    legend {
        padding: 5px;
        background: $header;
        .btn {
            background: $dark-button;
        }
    }
    button.form-reset {
        vertical-align: bottom;
        background: $dark-button;
        color: $white;
        padding: 4px 6px;
        margin-left: 10px;
    }
    /* input[type="submit"], input[type="button"] {
        color: $white;
        padding: 5px;
    } */
    .views-exposed-form .views-exposed-widget{
        padding: 0;
        .form-submit {
            margin-top: 0;
        }
    }
}
.views-ef-fieldset-container .form-item {
    display: block;
}
#views-exposed-form-content-lists-plans-list {
    /* fieldset {
        margin: 10px;
    } */
    #edit-container-root {
        margin: 0;
        .fieldset-wrapper {
            text-align: center;
        }
    }
    .views-submit-button {
        display: none;
    }
    #edit-filters-wrapper {

    }

}
#edit-container-container-2 {
    display: inline-block;
    text-align: center;
    margin: 10px auto;
}
#edit-container-container-3, #edit-container-container-4, #edit-container-container-5 {
    width: auto;
    float: left;
    //padding: 5px;
    background: $form-item-active-blue;
    legend {
        border: solid 1px $header;
        color: #ccc;
    }
    .fieldset-wrapper {
        padding:  0 10px 10px 10px;
    }
    .form-item label {
        margin-bottom: 0;
        margin-top: 5px; 
    }
}
#edit-container-container-3 {
    margin: 0 10px 10px 0;
}
#edit-container-container-4 {
    margin-bottom: 0 0 10px 0;
}
#edit-container-container-5 {
    margin: 0 0 10px 10px;
    .form-item-field-plan-size-value-min, .form-item-field-plan-size-value-max {
        float: left;
        margin: 10px 0 0 0;
        label {
            width: auto;
            margin: 0 5px;
            padding-bottom: 3px;
        }
    }
    #edit-field-plan-size-value-min, #edit-field-plan-size-value-max {
        width: 60px;
        height: 22px;
        border: #999999;
    }
}
#edit-container-container-6 {
    width: 100%;
    margin: 0;
    position: relative;
}



/********** Tables **********/
table.views-table {
    width: 100%;
}
tbody {
    border-top: none;
}
th {
    border-bottom: none;
}
th.views-field {
    padding: 0 5px;
}
td.views-field {
    padding: 0 5px;
}
td.views-field-field-cover-image img {
    max-width: none !important;
}
tr.odd {
    background-color: $form-item-odd-blue;
    border: none;
}
tr.even {
    background-color: $form-item-even-blue;
    border: none;
}
tr.odd td.active, tr.even td.active {
    background-color: $form-item-active-blue;
}

/********** Accordion **********/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: $form-background-blue;
    border: none;
}
.ui-accordion {
    .ui-accordion-header .ui-accordion-header-icon {
        left: 0.1em;
    }
    .ui-accordion-icons {
        padding-left: 1.8em;
    }
    .ui-accordion-icons {
        padding-left: 1.4em;
    }
    .ui-accordion-content {
        padding: 0.5em 1em;
    }
}
.ui-corner-all {
    border-radius: 0;
}
.ui-widget-content {
    border: none;
}

/********** Widgets **********/
.view-views-search {
    .view-content {
        display: none;
    }
    .pager {
        display: none;
    }
}

/********** Nodes **********/
legend {
    margin-bottom: 0;
}
body.node-type-plan {
    #block-system-main {
        .ds-below-right.seventy {
            width: 60%;
            .view-display-id-eva_asset_allocation_chart {
                height: 300px;
                width: 100%;
                .view-content {
                    height: 100%;
                    .pie-chart {
                        height: 100%;
                        #aa-chart {
                            height: 100%;
                        }
                    }
                }
            }
        }
        .ds-below-left.thirty {
            width: 40%;
        }  
    }
}
.breadcrumb {
    background-color: #fff; }

.view-filters label {
    text-align: center;
    width: 100%;
}

.view-filters .views-table .collapsiblock a {
    background: none;
    color: #1368a6;
    display: inline; }

.page-node .collapsiblock .views-table a:not(.contextual-links-trigger) {
    background: none;
    color: #1368a6;
    display: inline; }

.view.collapsiblock h2 {
    padding: 4px 0 4px 15px;
    font-size: 21px;
    /*background: linear-gradient(to bottom, #1368a6 0%, #142a45 100%);*/
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

.ds-middle, .ds-below-left, .ds-footer {
    .view.collapsiblock {
        background-color: #fff;
    }
}

.view.collapsiblock {
    background-color: #e7f5ff;
    color: #000;
    a {
        display: inline;
        background: transparent url(images/gear-select.png) no-repeat 2px 0;
        color: #1368a6;
    }
}
.view.collapsiblock .views-row {
    padding: 5px 0 10px 10px;
}

.view-filters #edit-field-date-value-wrapper label {
    margin-left: -20px;
}
.page-node ul.links {
    margin-bottom: 20px;
}
.view-foia-history {
    margin-bottom: 20px;
}

/********** Entityforms **********/
#fin-info-1, #fin-info-2, #fin-info-3 {
  width: 33%;
  float: left;
  margin: 0 0 30px 0;
}
.group-left, .group-middle, .group-right, .group-footer {
  background: $form-item-active-blue;
  padding-left: 10px;
  padding-right: 10px;
}
.group-footer {
  padding-bottom: 10px;
}

/********** Resources UI **********/
#privatemsg-list-form .privatemsg-list {
    width: 100%;
}
.privatemsg-list td {
    padding: 0 5px;
}
.privatemsg-list th {
    padding: 0 5px;
}
.privatemsg-list tr.odd {
    background-color: $form-item-odd-blue;
    border: 1px solid $background;
}
.privatemsg-list tr.even {
    background-color: $form-item-even-blue;
    border: 1px solid $background;
}
.privatemsg-list tr.odd td.active, tr.even td.active {
    background-color: $form-item-active-blue;
}
.privatemsg-list .form-checkbox {
    margin-top: -1px;
}
#privatemsg-list span.fieldset-legend a {
    color: #aaa;
}
#block-subscriptions-ui-0 {
    background: $header;
    .btn {
        background: $dark-button;
    }
}
.block-subscriptions-ui {
  padding: 0 !important;
  #subscribe {
    height: auto;
    legend {
      border-bottom: none;
      margin: 0;
      padding: 4px 0 4px 5px;
      background: $header;
      .fieldset-legend {
        background: none;
        background-image: none;
        padding: 0;
      }
    }
    .fieldset-wrapper {
      background: $form-background-blue;
      padding: 10px;
    }
  }
}
#subscriptions-page-user-overview, #subscriptions-page-form, .page-user-saved-searches {
    td, th {
        padding: 5px;
    }
}
span.fieldset-legend a {
    background-color: $header;
}
#edit-autosub {
    margin: 15px 0 0 0;
}
#edit-submit, #edit-save-settings, #edit-save-notifications, #edit-reset {
    background-color: $fin-blue;
    padding: 4px 6px;
    margin: 0 10px;
}
#user-tasks-table {
    table {
        width: 100%;
        thead {
            th {
                padding: 0 5px;
            }
        }
        td {
            padding: 0 5px;
        }
        td:nth-child(5) {
            min-width: 90px;
        }
        td:nth-child(6) {
            //width: 250px;
        }
        td:nth-child(7) {
            //width: 20px;
            //padding: 0 2px;
            text-align: center;
        }
    }
}
