/**
 *Styles for modal windows
 */
#modalContent {
  .column-main {
    width: 100%;
    float: none;
  }    
  #contact-node-form {
    width: 100%;
    float: none;
    .ds-above-left, .ds-above-right {
      width: 33.3%;
    }
    .text-summary-wrapper {
      display: none;
    }
    .field-name-body {
      .form-type-textarea {
        label {
          float: none;
        }
        .form-textarea-wrapper {
          margin-left: 0;
          margin-right: 0;
          #cke_2_top {//Clean up the edit dialog box
            #cke_72, #cke_75, #cke_85, #cke_93, #cke_98 {
              display: none;
            }
          }
        }
      }
    }
    tr {
      .form-item {
        white-space: normal;
      }
    }
    .field-name-field-employment-date {
      .date-combo {
        .date-float {
          clear: both;
          float: none;
        }
        .start-date-wrapper, .end-date-wrapper {
          width: 150px;
          float: left;
          clear: none;
          input {
            width: 100px;
          }
        }
        .end-date-wrapper {
          width: 200px;
          label {
            width: 40px;
            clear: none;
          }
          
        }
      }
    }
    .field-name-field-address {
      .addressfield-container-inline {
        .form-item {
          float: none;
        }
      }
    }
    .form-type-link-field {
      label {
        float: none;
      }
    }
    .field-name-field-consultant-job-type {
      label {
        float: none;
      }
    }
  }
  //Consultant firm
  #consultant-firm-node-form {
    .ds-above-left {
      width: 49%;
      margin: 0 1% 0 0;
    }
    .ds-above-right {
      width: 49%;
      margin: 0 0 0 1%;
    }
    .field-name-field-website {
      .form-item {
        label {
          float: none;
        }
      }
    }
    .vertical-tabs {
      margin: 0;
    }
  }
  //Manager firm
  #manager-firm-node-form {
    .ds-above-left, .ds-above-middle, .ds-above-right {
      width: 32%;
      margin: 0 .5%;
    }
    .form-item {
      margin: 0;
      width: 95%;
      input, select {
        width: 98%;
      }
    }
  }
  .node-action-block {
    display: none;
  }
  #mandate-node-form {
  }
}

body.page-node-edit.node-type-consultant-firm {
  #modalContent {
    
  }
}